<section class = "statistics-container">

    <!--Header Pattern?-->
    <h2 class = "statistics-header">Our Statistics</h2>
<div class = "statistics-box-flex-container">
  <div class = "statistics-box">
    <div class = "statistics-number">
      <h3 class = "big-number">10</h3>
    </div>
    <hr class = "statistics-border"/>
    <p class = "statistics-blurb">distinct media partners</p>
  </div>

  <div class = "statistics-box">
    <div class = "statistics-number">
      <h3 class = "big-number">750</h3>
    </div>
    <hr class = "statistics-border"/>
    <p class = "statistics-blurb">students employed by Student Media each semester</p>
  </div>

  <div class = "statistics-box">
    <div class = "statistics-number">
      <h3 class = "big-number">80+</h3>
    </div>
    <hr class = "statistics-border"/>
    <p class = "statistics-blurb">years involved within the Kent community</p>
  </div>
</div>
</section>
