<div class = "mission-container">
  <h2 class = "subhead">Our Mission</h2>
  <p class = "mission-blurb">Kent State Student Media produces six award-winning magazines with subjects including arts and poetry, fashion, minority, and campus issues. The Kent Stater is the premier source for news around campus. Each magazine has a circulation of 4,000+ and the Stater reaches 15,000 individuals. Advertising with Kent State Student Media is an excellent way to make sure you reach the farthest corners of your audience.</br></br>

Kent State Student Media broadcasts to the Kent community through TV2 and to the world through Black Squirrel Radio. KSU Independent Films creates a wide variety of content including full-length films, short
videos, and music videos. Black Squirrel Radio has 3,000 loyal listeners every month and TV2 reaches 34,000 households.</br></br>

Students can work for our independent, nationally recognized, award-winning media partners from day one. From then on, our students begin building their personal brands — the experiences and attributes that set them apart from the pack.
</p>
</div>
