<div class = "mission-container">
  <h2 class = "subhead">Our Mission</h2>
  <p class = "mission-blurb">
    Award-winning, nationally recognized and locally focused.
    Our independent, student-run media partners create content
    the campus and Kent community seek. Students learn practical skills
    through the professional learning opportunities available through
    Kent State Student Media. Advertising with Kent State Student Media is
    an excellent way to make sure you reach your audience.
</p>

</div>
