<body>
  {{>organisms-header}}
  {{>organisms-secondary-hero-image}}
  <main>
    <div class = "page-header">
    <h1 class="first-word">Our</h1><h1 class="head-line">News</h1>
    </div>
    <h2 class = "intro-sentence-header">Paragraph</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class = "subhead">News & Recognition</h3>
    <section class = "about-news-flex-container">
      <div class = "news-image-container">
        <img class = "recognition-image" src = "/assets/img/headshots/example-image.jpg">
      </div>
      <div class = "recognition-content">
        <div class = "recognition-description-container">
          <ul class = "recognition-list">
            <li class = "recognition-item">Kent State Student Media Mentioned in the Cleveland Plain Dealer for our work with WEWS - TV ABC</li>
            <li class = "recognition-item">Student Media Awarded 3 ADDYs at the 2017 American Ad Awards</li>
            <li class = "recognition-item">Kent State Student Media Ranked Amonst Top 10 Student Lead Media Entities in the United States</li>
          </ul>
          <button class="main-button">See More</button>
        </div>
      </div>
    </section>
  </main>
  {{>organisms-footer}}
</body>
