<body>
  {{>organisms-header}}
  {{>organisms-secondary-hero-image}}
  <main>
    <div class = "page-header">
    <h1 class="head-line">Our News</h1>
    </div>
    <h2 class = "intro-sentence-header">Student Media Today</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class = "subhead">News & Recognition</h3>
    <section class = "about-recognition-flex-container">
      <figure class = "recognition-image-container">
        <img class = "recognition-image" src = "/assets/img/headshots/student-award-example.jpeg">
        <figcaption class = "recognition-image-caption">2017 Awards Reception</figcaption>
      </figure>
      <div class = "recognition-content">
        <div class = "recognition-description-container">
          <ul class = "recognition-list">
            <li class = "recognition-item">Kent State Student Media Mentioned in the <span class = "recognition-name">Cleveland Plain Dealer</span> for our work with WEWS - TV ABC</li>
            <li class = "recognition-item">Student Media Awarded 3 ADDYs at the <span class = "recognition-name">2017 American Ad Awards</span></li>
            <li class = "recognition-item">Kent State Student Media Ranked <span class = "recognition-name">Amongst Top 10 Student Lead Media Entities</span> in the United States</li>
            <li class = "recognition-item"><button class="main-button recognition-button">See More</button></li>
          </ul>
        </div>
      </div>
    </section>
    <h3 class = "subhead">Support Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </main>
  {{>organisms-footer}}
</body>
