{{>organisms-header}}
{{>organisms-secondary-hero-image}}

<main>
  <div class = "page-header">
  <h1 class="head-line">Student Media Board Members</h1>
  </div>
  <div class="guidelines>"<p>Student Media Board Guidelines:</p>
    <button class="main-button guidelines-button">Guidelines PDF</button>
</div>

  <h2 class = "subhead">Voting Members</h2>
  <div class="voting-members">
    <div class="member">
      <h5 class="member-title">Director of Journalism and Mass Communication</h5>
      <p class="member-name">Thor Wasbotton</p>
    </div>
    <div class="member">
      <h5 class="member-title">Director of Center of Student Involvement</h5>
      <p class="member-name">Kristen Dolan</p>
    </div>
    <div class="member">
      <h5 class="member-title">JMC Faculty Members</h5>
      <p class="member-name">Mark Goodman, Eugene Shelton</p>
    </div>
    <div class="member">
      <h5 class="member-title">Faculty Senate Appointees</h5>
      <p class="member-name">Carol Robinson, Karl Idsvoog</p>
    </div>
    <div class="member">
      <h5 class="member-title">Undergraduate Student Government Appointees</h5>
      <p class="member-name">Nathan LaChance, *1 vacant position</p>
    </div>
    <div class="member">
      <h5 class="member-title">Graduate Student Senate Appointee</h5>
      <p class="member-name">Kristen Traynor</p>
    </div>
    <div class="member">
      <h5 class="member-title">Faculty Senate Appointees</h5>
      <p class="member-name">Carol Robinson, Karl Idsvoog</p>
    </div>
    <div class="member">
      <h5 class="member-title">Undergraduate Student Government Appointees</h5>
      <p class="member-name">Nathan LaChance, *1 vacant position</p>
    </div>
    <div class="member">
      <h5 class="member-title">Graduate Student Senate Appointee</h5>
      <p class="member-name">Kristen Traynor</p>
    </div>
  </div>

  <h2 class = "subhead">Non-Voting Members</h2>

  <div class="non-voting-members">

      <p class="non-voting-member-name">Payton Moore, <b>A Magazine Editor</b></p>
      <p class="non-voting-member-name">Stephanie Lawrence, <b>A Magazine and The Burr advisor</b></p>
      <p class="non-voting-member-name">Layne Gerbig, <b>Black Squirrel Radio general manager</b></p>
      <p class="non-voting-member-name">Amanda Rabinowitz, <b>BSR advisor</b></p>
      <p class="non-voting-member-name">Sammi Ickles, <b>A Magazine editor</b></p>
      <p class="non-voting-member-name">M.J. Eckhouse, <b>Fusion editor</b></p>
      <p class="non-voting-member-name">Bruce Zake, <b>Fusion advisor</b></p>
      <p class="non-voting-member-name">Jimmy Miller, <b>Kent Stater editor</b></p>
      <p class="non-voting-member-name">Sue Zake, <b>Newsroom advisor(Kent Stater, TV2, KentWired)</b></p>
      <p class="non-voting-member-name">Stephanie Lawrence, <b>A Magazine and The Burr advisor</b></p>
      <p class="non-voting-member-name">Payton Moore, <b>A Magazine Editor</b></p>
      <p class="non-voting-member-name">Stephanie Lawrence, <b>A Magazine and The Burr advisor</b></p>
      <p class="non-voting-member-name">Layne Gerbig, <b>Black Squirrel Radio general manager</b></p>
      <p class="non-voting-member-name">Amanda Rabinowitz, <b>BSR advisor</b></p>
      <p class="non-voting-member-name">Sammi Ickles, <b>A Magazine editor</b></p>
      <p class="non-voting-member-name">M.J. Eckhouse, <b>Fusion editor</b></p>
      <p class="non-voting-member-name">Bruce Zake, <b>Fusion advisor</b></p>
      <p class="non-voting-member-name">Jimmy Miller, <b>Kent Stater editor</b></p>
      <p class="non-voting-member-name">Sue Zake, <b>Newsroom advisor(Kent Stater, TV2, KentWired)</b></p>
      <p class="non-voting-member-name">Stephanie Lawrence, <b>A Magazine and The Burr advisor</b></p>
  </div>

  <h2 class = "subhead">Meeting Minutes</h2>

    <div class="meeting-minutes-container">

      <div class="meeting-box">
        <p class="meeting-date">03/07/2017</p>
        <link class="img-link">
          <img src="/assets/img/icons/pdf-icon.svg" alt="pdf icon" height="100" width="100">
          <p class="meeting-pdf">Download PDF</p>
        </link>
      </div>

      <div class="meeting-box">
        <p class="meeting-date">02/15/2017</p>
        <link class="img-link">
          <img src="/assets/img/icons/pdf-icon.svg" alt="pdf icon" height="100" width="100">
          <p class="meeting-pdf">Download PDF</p>
        </link>
      </div>

      <div class="meeting-box">
        <p class="meeting-date">1/10/2017</p>
        <link class="img-link">
          <img src="/assets/img/icons/doc-icon.svg" alt="doc icon" height="100" width="100">
          <p class="meeting-pdf">Download DOC</p>
        </link>
      </div>

      <div class="meeting-box">
        <p class="meeting-date">12/07/2016</p>
        <link class="img-link">
          <img src="/assets/img/icons/pdf-icon.svg" alt="pdf icon" height="100" width="100">
          <p class="meeting-pdf">Download PDF</p>
        </link>
      </div>

      <div class="meeting-box">
        <p class="meeting-date">03/07/2017</p>
        <link class="img-link">
          <img src="/assets/img/icons/doc-icon.svg" alt="doc icon" height="100" width="100">
          <p class="meeting-pdf">Download Doc</p>
        </link>
      </div>

      <div class="meeting-box">
        <p class="meeting-date">02/15/2017</p>
        <link class="img-link">
          <img src="/assets/img/icons/pdf-icon.svg" alt="pdf icon" height="100" width="100">
          <p class="meeting-pdf">Download PDF</p>
        </link>
      </div>

      <div class="meeting-box">
        <p class="meeting-date">1/10/2017</p>
        <link class="img-link">
          <img src="/assets/img/icons/doc-icon.svg" alt="doc icon" height="100" width="100">
          <p class="meeting-pdf">Download DOC</p>
        </link>
      </div>

      <div class="meeting-box">
        <p class="meeting-date">12/07/2016</p>
        <link class="img-link">
          <img src="/assets/img/icons/pdf-icon.svg" alt="pdf icon" height="100" width="100">
          <p class="meeting-pdf">Download PDF</p>
        </link>
      </div>
    </div>




</main>
{{>organisms-footer}}
