{% if category.title != "Creative Services" %}
  {% for entry in craft.entries.section('partners').relatedTo(category).order('title') %}
      {% if entry.pushToTop %}
      <div class = "platform-content">
          <h2 class="platform-content-header">{{ entry.title }}</h2>
          <p class="platform-description">{{entry.shortDescription}}</p>
        {% for ad in craft.entries.section('ad').relatedTo(entry) %}
             <a class="secondary-button rates-button" href="{{ ad.url }}">View Rates for {{ad.title }}</a>
        {% endfor %}
    </div>
      {% endif %}
    {% endfor %}
  {% endif %}


{% if category.title != "Creative Services" %}
  {% for entry in craft.entries.section('partners').relatedTo(category).order('title') %}
    {% if entry.pushToTop!= 1 %}

    <div class = "platform-content">
      <h2 class="platform-content-header">{{ entry.title }}</h2>
      <p class="platform-description">{{entry.shortDescription}}</p>
    {% for ad in craft.entries.section('ad').relatedTo(entry) %}
       <a class="secondary-button rates-button" href="{{ ad.url }}">View Rates for {{ad.title }}</a>
       {% endfor %}
     </div>
      {% endif %}
    {% endfor %}
  {% endif %}
