<div class="advertising-contact-list">
  <h3 class="advertising-contact-list__headline">{{ advertisingContact.advertisingHeadline }}</h3>
  <p class="advertising-contact-list__text">{{ advertisingContact.advertisingCallToActionText }}</p>
  <a class="advertising-contact-list__contact" href="mailto:{{ advertisingContact.email }}" onclick="ga('send', 'event', 'Email', 'Advertising Email Contact');">{{ advertisingContact.email }}</a>
  <p class="advertising-contact-list__contact">{{ advertisingContact.phone }}</p>
  {% for asset in craft.entries.section('advertising') %}
    {% for media in asset.mediaKit %}
      <a onclick="ga('send', 'event', 'Download', 'Media Kit Download');" class="main-button app-button" href="{{ media.url }}">Download Media Sales Kit (PDF)</a>
    {% endfor %}
  {% endfor %}
</div>
