html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: inherit;
}

img,
iframe {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  margin: 0;
  font-family: "Montserrat",sans-serif;
  padding: 0;
  background-color: #e9ebee;
}

figure,
header,
main,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0px;
  margin: 0.67em 0;
  color: #1f3c72;
}

img {
  border-style: none;
}

figure {
  margin: 1em 40px;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  margin: 0px;
}

button {
  text-transform: none;
}

button {
  cursor: pointer;
}

button {
  -webkit-appearance: button;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  font-family: "Montserrat",sans-serif;
  padding: 0;
  background-color: #e9ebee;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
  font-family: "Montserrat",sans-serif;
}

.intro-paragraph p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 400;
}

.header-container {
  max-width: 1500px;
  position: relative;
  margin: 0px auto;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .header-container {
    width: 93%;
  }
}

header {
  background-color: rgb(255, 255, 255);
  z-index: 200;
  width: 100%;
  background-color: #fff;
}

.header-nav-container {
  position: absolute;
}

.nav-trigger {
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(31, 60, 114);
  padding: 0.35em 0.6em 0.45em;
  font-size: 0.85em;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  border-style: none;
  border: 2px solid #1f3c72;
  padding: .35em .6em .45em .6em;
  font-size: .85em;
  border-radius: 3px;
}

.header-logo-container {
  text-align: center;
}

.header-logo {
  width: 150px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-top: .25em;
  margin-bottom: .25em;
}

.header-logo__condensed {
  display: none;
}

header nav.out {
  pointer-events: none;
}

header nav li a {
  width: 100%;
  left: 0px;
  text-align: center;
  text-decoration: none;
  color: rgb(31, 60, 114);
  left: 0;
  color: #1f3c72;
}

header nav {
  width: 100%;
  position: fixed;
  z-index: 90;
  top: -150vh;
  height: 100vh;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  background-color: white;
}

header nav > ul {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: scroll;
}

header nav > ul > li {
  position: relative;
  border-bottom-style: solid;
  border-bottom-color: rgb(31, 60, 114);
  border-bottom-width: 0.5px;
  padding: 0px;
  text-align: center;
}

header nav > ul > li:last-child {
  border: none;
}

header nav li > a {
  padding: 2em;
  display: block;
}

header li.has-children > a::after {
  width: 15px;
  height: 15px;
  content: '';
  background-image: url(/assets/img/global/arrow-down.svg);
  background-size: 100%;
  position: absolute;
  top: 2.5em;
  right: 10%;
  display: block;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  background-repeat: no-repeat no-repeat;
}

header .nav__level2 {
  background-color: rgb(138, 209, 207);
  background-color: #8ad1cf;
}

header .nav__level2 li > a {
  padding: 0.5em 0px;
}

header .nav__level2 li:first-child a {
  padding-top: 2em;
}

header .nav__level2 li:last-child a {
  padding-bottom: 2em;
}

.js header .nav__level2 {
  max-height: 0px;
  overflow: hidden;
  display: block;
  margin-left: 0px;
  padding-left: 0px;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  max-height: 0;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (min-width: 900px) {
  .js header ul.nav__level2 {
    max-height: 0px;
    overflow: hidden;
    background-image: none;
    transition: max-height 0.3s ease-in-out;
    -webkit-transition: max-height 0.3s ease-in-out;
    background-position: initial initial;
    background-repeat: initial initial;
    max-height: 0;
    background: none;
    -webkit-transition: .3s max-height ease-in-out;
    transition: .3s max-height ease-in-out;
  }

  .header-logo-container {
    text-align: left;
    width: 23%;
  }

  header li.has-children > a {
    padding-right: 0.5em;
  }

  header li.has-children > a::after {
    right: 0.5em;
    top: 60%;
    width: 10px;
    height: 10px;
    content: '';
    background-image: url(/assets/img/global/arrow-down.svg);
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
  }

  .js header nav ul.nav__level2 {
    position: absolute;
    top: 4.5em;
    left: 0px;
    width: 23em;
    background-color: rgba(138, 209, 207, 0.952941);
    text-align: left;
    display: -webkit-box;
    list-style-type: none;
    left: 0;
    background-color: rgba(138,209,207,0.95);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  header nav {
    top: inherit;
    height: inherit;
    width: 80%;
    position: relative;
    margin: 0px inherit inherit 1em;
    display: -webkit-box;
    -webkit-box-align: center;
    padding: 0px;
    margin: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1em;
    padding-right: inherit;
    padding: 0;
    margin-top: 0;
  }

  header nav.out {
    pointer-events: inherit;
  }

  header nav > ul > li {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: rgb(31, 60, 114);
    border-bottom-style: none;
    font-size: 0.8em;
    padding-top: 0.5em;
    padding-left: inherit;
    padding-right: inherit;
    -webkit-box-flex: 2;
    text-align: center;
    transition: border-color 0.3s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out;
    position: relative;
  }
}

@media screen and (min-width: 1000px) and (min-width: 900px) {
  header nav > ul > li {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1300px) and (min-width: 900px) {
  header nav > ul > li {
    font-size: 0.95em;
  }
}

@media screen and (min-width: 900px) {
  header nav > ul > li:last-child {
    border-top-style: none;
    margin-left: 3em;
    padding-top: 0px;
  }

  header .nav__level2 li {
    display: inline-block;
    padding-top: 0px;
    width: 50%;
    font-size: 0.9em;
    padding-top: 0;
    font-size: .9em;
  }

  header .nav__level2 li:first-child a,
  header .nav__level2 li:last-child a {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  header .nav__level2 li a {
    text-align: left;
    padding: 1em 1.5em;
    padding: 1em 1.5em 1em 1.5em;
  }

  .header-logo-container {
    width: 23%;
    text-align: left;
  }

  .header-logo-container .header-logo {
    width: auto;
    max-width: 250px;
  }

  .header-nav-container {
    display: none;
  }

  header nav li a {
    position: relative;
    top: inherit;
    margin: inherit;
    text-decoration: none;
    color: rgb(31, 60, 114);
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    padding: 1.5em 0px 0.5em;
    color: #1f3c72;
    -webkit-transition: .3s color ease-in-out;
    transition: .3s color ease-in-out;
    padding: 1.5em 0 .5em 0;
  }

  header nav ul {
    overflow: inherit;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .header-container {
    display: -webkit-box;
    padding: 0.5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: .5em;
  }
}

@media screen and (min-width: 1000px) {
  header nav > ul > li {
    padding-top: 0.2em;
  }

  header nav {
    margin-left: 3em;
  }
}

.home-carousel {
  max-width: 100%;
}

.home-carousel img {
  max-width: 100%;
}

.header-quote {
  width: 90%;
  position: absolute;
  bottom: 30%;
  left: 1em;
  z-index: 3;
}

@media screen and (min-width: 800px) {
  .header-quote {
    width: 80%;
    bottom: 20%;
    margin: 0px auto;
    left: 5%;
    max-width: 1300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-quote {
    left: 10%;
  }
}

.hero-image-caption {
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  letter-spacing: 1.3px;
  line-height: 1.3;
  color: rgba(208, 222, 68, 0.972549);
  display: inline;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 3px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(208,222,68,0.97);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

@media screen and (min-width: 600px) {
  .hero-image-caption {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 800px) {
  .hero-image-caption {
    font-size: 3.7em;
  }
}

.hero-image {
  position: relative;
  max-height: 600px;
  overflow: hidden;
}

.hero-image::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.54902) 100%);
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: initial initial;
  background-repeat: initial initial;
}

.video-div-flex-container {
  display: -webkit-box;
  width: 100%;
  margin: 0px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.video-container-home {
  margin-bottom: 1.5em;
}

.video-box {
  width: 100%;
  margin: 1em auto 0px;
  margin: 0 auto;
  margin-top: 1em;
}

.video-box__container {
  width: 100%;
}

iframe {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 970px) {
  .video-box {
    width: 45%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .video-blurb {
    width: 45%;
  }
}

header .cta-header a {
  padding: 10px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 0.3px;
  line-height: 1.4em;
  color: white;
  background-color: rgb(138, 209, 207);
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  text-align: center;
  display: inline-block;
  width: inherit;
  margin: 1em auto 0px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-family: "Montserrat",sans-serif;
  font-size: .9em;
  letter-spacing: .3px;
  background-color: #8ad1cf;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
  margin-top: 1em;
}

@media screen and (min-width: 900px) {
  header .cta-header a {
    margin-top: 1.7em;
    padding: 0.5em 1em;
    padding: .5em 1em;
  }
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(233, 235, 238);
  margin: 0;
  font-family: "Montserrat",sans-serif;
  padding: 0;
  background-color: #e9ebee;
}

main {
  margin: -50px auto 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.188235) 0px 6px 20px 0px;
  z-index: 1;
  position: relative;
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  padding: 1em 1em 2em;
  margin: 0 auto;
  margin-top: -50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #fff;
  padding: 1em;
  padding-bottom: 2em;
}

@media screen and (min-width: 800px) {
  main {
    width: 93%;
    padding: 1em 2em 3em;
    padding: 1em 2em 3em 2em;
  }
}

@media screen and (min-width: 1200px) {
  main {
    width: 80%;
  }
}

.section {
  margin-bottom: 2em;
}

@media screen and (min-width: 800px) {
  .section {
    margin-bottom: 2.5em;
  }
}

h1 {
  color: rgb(31, 60, 114);
  font-size: 2em;
  margin: 0.67em 0;
  color: #1f3c72;
}

.intro-sentence-header {
  font-size: 1.4em;
  font-weight: 600;
  padding-top: 0px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: rgb(238, 171, 21);
  margin-top: 0.5em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #eeab15;
  margin-top: .5em;
}

@media screen and (min-width: 800px) {
  .intro-sentence-header {
    font-size: 1.8em;
  }
}

li {
  margin-bottom: 5px;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage::after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0px;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  cursor: hand;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}