
{% set nav = craft.amNav.getNavRaw("mainMenu") %}

{% macro addNodeToNavigation(node, index) %}
    {%- set nodeClasses = [] -%}
    {%- if node.hasChildren -%}
        {%- set nodeClasses = nodeClasses|merge([]) -%}
    {%- endif -%}
    {%- if node.active or node.hasActiveChild -%}
        {%- set nodeClasses = nodeClasses|merge(['active']) -%}
    {%- endif -%}
    {%- if node.level == 1 -%}
        {%- set nodeClasses = nodeClasses|merge(['footer-header']) -%}
    {%- endif -%}
    {%- if node.level == 2 -%}
        {%- set nodeClasses = nodeClasses|merge(['footer-list-item']) -%}
    {%- endif -%}
    {%- if node.listClass|length -%}
        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
    {%- endif -%}
    <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
        <a href="{{ node.url }}" class="link" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
        {% if node.hasChildren %}
            <ul class="nav__level{{ (node.level + 1) }}">
                {% for subnode in node.children %}
                    {{ _self.addNodeToNavigation(subnode, loop.index) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<footer role="contentinfo">
  <nav class="footer-navigation" role="navigation">
    <ul class="footer-content-list">
      {% cache globally %}
        {% for node in nav %}
              {{ _self.addNodeToNavigation(node, loop.index) }}
        {% endfor %}
      {% endcache %}
    </ul>
  </nav>
  {% cache globally %}
  <div class ="bottom-box-footer__container">
  <section class="bottom-box-footer">

    <div class="logo-footer">
      {% for asset in footer.footerLogo %}
            <img class="footer-logo-image" src="{{asset.url}}" alt="{{asset.title}}"/>
      {% endfor %}
      <div class="partners-footer">
        {% for asset in footer.logo %}
              <a href="{{footer.footerAffiliateLink}}"><img class="partners-logo-image" src="{{asset.url}}" alt="{{asset.title}}"/></a>
        {% endfor %}
      </div>
    </div>
    <div class="footer-contact-info">
      <ul class="footer-contact-list">
        <li class="footer-list-item">{{footer.mailingAddress}}</li>
        <li class="footer-list-item">{{footer.phone}}</li>
        <li class="footer-list-item"><a href="mailto:{{footer.email}}">{{footer.email}}</a></li>
        {% for block in footer.socialMedia %}
		       <li class="footer-list-item footer-list-item--social"><a class="social-media__icon {{ block.socialName }}" href= "{{block.address}}">Join Student Media on {{ block.socialName }}</a></li>
				{% endfor %}
      </ul>
    </div>
  </section>
      <div class="footer-credit">
        {{footer.footerCredit}}
      </div>
  </div>
  {% endcache %}
</footer>
