<header>
  <div class="header-container">
      <section class = "header-nav-container">
        <button id="nav-trigger" class="nav-trigger">Menu</button>
      </section>
      <section class = "header-logo-container">
        {% for asset in header.logo %}
          <a href= "{{siteUrl}}index.php">
            <img class = "header-logo" src="{{asset.url}}" alt="{{asset.title}}"/>
          </a>
        {% endfor %}
        {% for asset in header.smallLogo %}
          <img class = "header-logo__condensed" src="{{asset.url}}" alt="{{asset.title}}"/>
        {% endfor %}
      </section>
			<nav id="nav" class="out">
        {% cache %}
          {{ craft.amNav.getNav("mainMenu") }}
        {% endcache %}
			</nav>
  </div>
</header>
