<header role="banner">
  <a id="skip-to-content" href="#content">skip to main content</a>
  <div class="header-container">
      {% cache %}
      <section class="header-logo-container">
        {% for asset in header.logo %}
          <a href= "{{siteUrl}}">
            <img class="header-logo" src="{{asset.url}}" alt="{{asset.title}}"/>
          </a>
        {% endfor %}
        {% for asset in header.smallLogo %}
          <a href= "{{siteUrl}}">
            <img class="header-logo__condensed" src="{{asset.url}}" alt="{{asset.title}}"/>
          </a>
        {% endfor %}
      </section>
      {% endcache %}
      <section class="header-nav-container">
        <button aria-label="Menu" aria-expanded="false" aria-controls="nav" id="nav-trigger" class="nav-trigger">Menu</button>
      </section>
			<nav id="nav" class="out" aria-hidden="true" aria-labelledby="nav-trigger" role="navigation">
        {% cache %}
          {{ craft.amNav.getNav("mainMenu") }}
        {% endcache %}
			</nav>
  </div>
</header>
