{{>organisms-header}}
{{>organisms-secondary-hero-image}}
<main>
  <div class = "page-header">
  <h1 class="first-word">Advertise</h1><h1 class="head-line">With Us</h2>
  </div>
<div class = "advertising-content">
  <h2 class = "intro-sentence-header">Find New Customers, Gain Back Old Ones</h2>
  <p class = "intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
    mollit anim id est laborum.</p>
</div>
<h2 class = "subhead">Creative Services</h2>
<p>We offer creative agencry services! Want to get a flyer our to your customers? Contact us! Or want to
  advertise with Kent State Media? Contact us!</p>
<h2 class = "subhead">Platforms</h2>
<!--Print Dropdown-->
<section class = "platforms-container">
  <div id="accordion" class="accordion">
    <div class="link platform-dropdown"><h4 class = "advertising-platform-headers">Print</h4></div>
    <div class="submenu">
      <div class = "platform-content-container">
        <div class = "platform-content">
            <h2 class="platform-content-header">The Kent Stater</h2>
            <p class="platform-description" >General information about the Kent Stater,
              a description of what it is, what news they cover and what they
              advertise maybe.</p>
        </div>
        <div class = "platform-content">
          <h4 class="testimonial">"Advertising with the Kent Stater has increased by sales by 25%!"</h4>
          <p class="testimonial-name">–A Store Happy Owner</p>
        </div>
        <div class = "platform-content">
          <button class = "secondary-button ad-button">Kent Stater Advertising</button>
        </div>
      </div>
      <div class = "platform-content-container">
        <div class = "platform-content">
            <h2 class="platform-content-header">Magazines: Transition, A, Uhuhru, Fusion</h2>
            <p>General information about the different magazines at Kent State,
              news they cover and what they advertise maybe.</p>
        </div>
        <div class = "platform-content">
          <h4 class="testimonial t-two">"Advertising with Transitions allowed me to grab the incoming freshman as customers"</h4>
          <p class="testimonial-name">–A Store Happy Owner</p>
        </div>
        <div class = "platform-content">
          <button class = "secondary-button ad-button">Magazine Advertising</button>
        </div>
      </div>
    </div>
<!--Digital Dropdown-->
  <div id="accordion" class="accordion">
    <div class="link platform-dropdown"><h4 class = "advertising-platform-headers">Online</h4></div>
    <div class="submenu">
      <div class = "platform-content-container">
        <div class = "platform-content"></div>
        <div class = "platform-content"></div>
        <div class = "platform-content"></div>
      </div>
    </div>
<!--Broadcast Dropdown-->
  <div id="accordion" class="accordion">
    <div class="link platform-dropdown"><h4 class = "advertising-platform-headers">Broadcast & Film</h4></div>
    <div class="submenu">
      <div class = "platform-content-container">
        <div class = "platform-content"></div>
        <div class = "platform-content"></div>
        <div class = "platform-content"></div>
      </div>
    </div>
<!--Bundles Dropdown-->
  <div id="accordion" class="accordion">
    <div class="link platform-dropdown"><h4 class = "advertising-platform-headers">Bundles</h4></div>
    <div class="submenu">
      <!--Print- TV & Radio-->
      <div class = "platform-content-container">
        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, TV & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <img class = "advertising-bundle-image" src = "/assets/img/icons/print-tv-radio.svg">
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>
        <!--Print, Web & Radio-->
        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, Web & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <img class = "advertising-bundle-image" src = "/assets/img/icons/print-web-radio.svg">
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>
        <!--Print, Web & Twitter-->
        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, Web & Twitter</h3>
          <h3 class = "platform-price-header">$325</h3>
          <img class = "advertising-bundle-image" src = "/assets/img/icons/print-web-twitter.svg">
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>
        <!--Print, Web & Twitter Deluxe-->
        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, TV & Twitter Deluxe</h3>
          <h3 class = "platform-price-header">$325</h3>
          <img class = "advertising-bundle-image" src = "/assets/img/icons/print-web-twitterdeluxe.svg">
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>
        <!--Print, Web, Twitter & Radio-->
        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, Web, Twitter & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <img class = "advertising-bundle-image" src = "/assets/img/icons/print-web-twitter-radio.svg">
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>
        <!--Print, Web, Twitter, Radio & TV-->
        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, Web, Twitter, Radio & TV </h3>
          <h3 class = "platform-price-header">$325</h3>
          <img class = "advertising-bundle-image" src = "/assets/img/icons/print-web-twitter-radio-tv.svg">
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
{{>organisms-footer}}
