* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

/* Styles Start Here */


body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 1.5em;
  background-color: #8ad1cf ;
  margin: 0;
}

header {
  background-color: white;
  max-width: 99%;
  margin-left: auto;
  padding: 0 1.5em;
  border-top: 10px solid #1f3c72;
}

@media screen and (min-width: 800px) {
  header {
    max-width: 85%;
    border-top-width: 15px;
  }
}

a {
  color: #1f3c72;
  font-weight: 500;
  text-decoration: none;
  transition: .3s all ease-in-out;
}

a:hover, a:focus {
  text-decoration: underline;
}

.logo {
  width: 230px;
  margin: 0 auto;
  padding-top: 1em;
  display: block;
}

@media screen and (min-width: 600px) {
  .logo {
    width: 325px;
    margin-left: 5px;
    padding-top: 2em;
  }
}

.inner-container {
  max-width: 600px;
}

@media screen and (min-width: 600px) {
  .inner-container {
    padding-left: 2em;
    padding-right: 1.5em;
    max-width: 650px;
  }
}

@media screen and (min-width: 900px) {
  .inner-container {
    max-width: 800px;
  }
}

p {
  font-weight: 300;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 600px) {
  p {
    font-size: 1.05em;
  }
}

h2 {
  color: #1f3c72;
  padding-bottom: .5em;
  border-bottom: 1px solid #8d9da5;
  font-size: 1.6em;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  color: gray;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 1.75em;
  text-transform: uppercase;
  position: relative;
  margin-left: -81px;
  font-size: 1.2em;
  margin-bottom: 1.25em;
}

h3:before {
  content: "";
  width: 65px;
  height: 15px;
  background-color: #1f3c72;
  display: inline-block;
  left: 0;
  top: 0;
  margin-right: 15px;
}

@media screen and (min-width: 600px) {

  h3 {

  }
  h3:before {
    width: 50px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 600px) {
  h3 {
    font-size: 1.4em;
    margin-top: 2em;
  }
}

main {
  max-width: 99%;
  margin-left: auto;
  background-color: white;
  padding: .5em 1.5em 2.5em 1.5em;
}

@media screen and (min-width: 800px) {
  main {
    max-width: 85%;
  }

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  ul {
    columns: 2;
    column-gap: 50px;
  }
}

ul a {
  margin-bottom:1.25em;
  display:inline-block;
}

@media screen and (min-width: 600px) {
  ul a {
    margin-bottom: 1.5em;
  }
}
