{{>organisms-header}}
<div class="hero-image">
<img class = "hero-image-home" src="/assets/img/hero_img/people-cropped_960.jpg"> <!--Change out picture URL-->
<div class="header-quote"><h1 class = "hero-image-caption">Media Partner Name</h1></div><!--Change image caption-->
</div>

<section class = "media-partner-content-container"></section>
<section class = "media-partner-content-container"></section>

<section class = "media-partner-social-media-container">
  <div class = "social-media-icon"></div>
  <div class = "social-media-icon"></div>
  <div class = "social-media-icon"></div>
</section>
{{>organisms-footer}}
