{{>organisms-header}}
<div class="hero-image">
<img class = "hero-image-home" src="/assets/img/hero_img/people-cropped_960.jpg"> <!--Change out picture URL-->
<div class="header-quote"><h1 class = "hero-image-caption">Media Partner Name</h1></div><!--Change image caption-->
</div>

<section class = "media-partner-about-container">
  <h2 class = "subhead">About</h2>
  <p class = "media-partner-about-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</section>
<section class = "media-partner-contact-container">
  <h2 class = "subhead">Contact</h2>
  <figure class = "media-partner-contact">
    <img src = "/assets/img/global/square-stock-img.jpg" class = "contact-picture">
    <figcaption class = "media-partner-contact-caption">Melody Noname</figcaption>
  </figure>

</section>

<section class = "media-partner-social-media-container">
  <h2 class = "subhead">Social Media</h2>
  <div class = "social-media-flex-container">
    <div class = "social-media-icon"></div>
    <div class = "social-media-icon"></div>
    <div class = "social-media-icon"></div>
  </div>
</section>

<section class = "media-partner-events-container">
  <h2 class = "subhead">Events</h2>
</section>
{{>organisms-footer}}
