{{>organisms-header}}
{{>organisms-secondary-hero-image}}

<main>
  <div class = "page-header">
  <h1 class="first-word">Get Involved</h1><h1 class="head-line">With Student Media</h2>
  </div>
<div class = "advertising-content">
  <h2 class = "intro-sentence-header">Find Job Opportunities, Connect with Students</h2>
  <p class = "intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
    mollit anim id est laborum.</p>
</div>
<h2 class = "subhead">Student Employee Opportunities</h2>
  <div class="student-employee-container">
      <div class="job-opening-container">
        <div class="mediapartner-name">
          <h2 class="mediapartner-type">A Magazine</h2>
        </div>

      <div class="position-name-contact-container">
      <div class="position-opening">
        <h4 class="position-name">Graphic Designer</h4>
        <p class="opening-description">Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
      </div>
      <div class="position-contact">
        <h4 class="contact">Contact:</h4>
        <p class="contact-name-title">Mary Smith, A Magazine Director</p>
        <a class="email" href="mailto:someone@example.com" target="_top">msmith@kent.edu</a>
          <button class = "secondary-button app-button">Application Form</button>
      </div>
    </div>
  </div>

      <div class="job-opening-container">
        <div class="flexbox">
          <h2 class="mediapartner-type">Student Media Office</h2>
        </div>
      <div class="flexbox">
        <h4 class="position-opening">Event Coordinator</h4>
        <p class="opening-description">Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
      </div>
      <div class="flexbox">
        <h4 class="contact">Contact:</h4>
        <p class="contact-name-title">Adam Jones, Marketing Director</p>
        <a class="email" href="mailto:someone@example.com" target="_top">msmith@kent.edu</a>
          <button class = "secondary-button app-button">Application Form</button>
      </div>
    </div>

    <div class="job-opening-container">
      <div class="flexbox">
        <h2 class="mediapartner-type">TV2</h2>
      </div>
    <div class="flexbox">
      <h4 class="position-opening">Videographer</h4>
      <p class="opening-description">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
    </div>
    <div class="flexbox">
      <h4 class="position-opening">Script Writer</h4>
      <p class="opening-description">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
    </div>
    <div class="flexbox">
      <h4 class="contact">Contact:</h4>
      <p class="contact-name-title">Adam Jones, Marketing Director</p>
      <a class="email" href="mailto:someone@example.com" target="_top">msmith@kent.edu</a>
        <button class = "secondary-button app-button">Application Form</button>
    </div>
    <div class="flexbox">
      <h4 class="contact">Contact:</h4>
      <p class="contact-name-title">Adam Jones, Marketing Director</p>
      <a class="email" href="mailto:someone@example.com" target="_top">msmith@kent.edu</a>
        <button class = "secondary-button app-button">Application Form</button>
    </div>
    </div>
  </div>



<h2 class = "subhead">Student Leadership Application</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
  minim veniam, quis nostrud exercitation ullamco</p>
  <h4>Contact Kevin Dilley for more Information</h4>
  <button class = "secondary-button app-button">Student Leadership Form</button>

<h2 class = "subhead">Frequently Asked Questions (FAQs)</h2>
<div class="FAQ-container">
  <div class="FAQ">
  <h4 class="question">How can I become a student media leader?</h4>
  <p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut</p>
</div>
  <div class="FAQ">
  <h4>How can I become a student media leader?</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut</p>
  </div>
  <div class="FAQ">
  <h4>How can I become a student media leader?</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut</p>
  </div>
  <div class="FAQ">
  <h4>How can I become a student media leader?</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut</p>
  </div>
</div>
</main>
{{>organisms-footer}}
