<section class = "video-container-home">
  <h2 class = "video-box-header">Video</h2>
  <div class = "video-div-flex-container">
    <div class = "video-blurb">
      <p class = "video-blurb-paragragh">Students can work for our independent, nationally recognized, award-winning media partners from day one. From then on, our students begin building their personal brands — the experiences and attributes that set them apart from the pack.</br></br>
        Students can work for our independent, nationally recognized, award-winning media partners from day one. From then on, our students begin building their personal brands — the experiences and attributes that set them apart from the pack.
      </p>
    </div>

  <div class = "video-box"><!--<img src ="/assets/img/brands/example.jpg" class = "placeholder-image">--></div>
  </div>
</section>
