{% extends "_layout" %}
{% block hero %}
	{% if entry.featureImageFormat == "fullWidth" %}
			{% include '_includes/hero.html' %}
	{% endif %}
{% endblock %}

{% block main %}
	{% if entry.featureImageFormat != "fullWidth" %}
	no-image
	{% endif %}
{% endblock %}

{% block content %}
<article class="event-detail" role="article">
	<div class="date-box">
		<div class="date">
			<h4 class="date-style">{{entry.date|date("d")}}</h4>
		</div>
		<div class="month">
			<h4 class="month-style">{{entry.date|date("M")}}</h4>
		</div>
	</div>
	<div class="event-detail__description">
		<h1 class="intro-sentence-header">{{ entry.title }}</h1>
		{% if entry.featureImageFormat != "fullWidth" %}
			{% for asset in entry.heroImage %}
				<img class="news-half-image" src="{{ asset.getUrl('flexibleHeight') }}" alt="asset.title" />
			{% endfor %}
		{% endif %}
    <p>{{entry.body}}</p>
	</div>
	<div class="event-detail__stats">
		{% if entry.time | length %}
			<h3 class="contact-name">Time</h3>
			<p class="event-detail__time">{{entry.time.format('g:i a')}}
		{% endif %}
		{% if entry.endTime | length %}
			- {{ entry.endTime.format('g:i a')}}</p>
		{% endif %}
		{% if entry.location | length %}
    	<h3 class="contact-name">Location</h3>
			<p>{{entry.location}}</p>
		{% endif %}
	</div>
</article>
{% endblock %}
