{% extends "_layout" %}
{% block hero %}
	{% if entry.featureImageFormat == "fullWidth" %}
			{% include '_includes/hero.html' %}
	{% endif %}
{% endblock %}

{% block main %}
	{% if entry.featureImageFormat != "fullWidth" %}
	no-image
	{% endif %}
{% endblock %}

{% block content %}
<article role="article">
		<h1 class="intro-sentence-header">{{ entry.title }}</h1>
		{% if entry.featureImageFormat != "fullWidth" %}
			{% for asset in entry.heroImage %}
				<img class="news-half-image" src="{{ asset.getUrl('flexibleHeight') }}" alt="asset.title" />
			{% endfor %}
		{% endif %}
    <p>{{entry.description}}</p>
		<p>{{ entry.date}}</p>
		<p>{{entry.time}}</p>
		<p>{{ entry.endTime}}</p>
    <p>{{entry.location}}</p>
</article>
{% endblock %}
