{% extends "_layout" %}

{% block content %}
<div class="secondary-hero-image">
	{% for asset in entry.heroImage %}
		<img class = "secondary-image" src="{{asset.url}}" alt="{{asset.title}}" />
	{% endfor %}</div>

	<div class = "page-header">
	<h1 class="first-word">{{entry.title}}</h1></div>
	{{entry.body}}
	<h2 >News</h2>
	{% for entry in craft.entries.section('recognition').find() %}
		<article>
			<h3 class = "subhead"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
			{{ entry.description }}
			<p><a href="{{ entry.url }}">Continue reading</a></p>
		</article>
	{% endfor %}
	{{entry.supportUs}}
	{% for entry in entry.callToActions %}
	<a href ="{{ entry.url }}">{{entry.title}}</a>
	{% endfor %}
{% endblock %}
