<body>
{{>organisms-header}}
{{>organisms-secondary-hero-image}}

<main>





<section class ="lets-try-this">
  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/ksuif-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">KSUIF</h3>
  <p class = "media-partner-description">A description will go here</p>
  </div>

  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/ksuif-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">KSUIF</h3>
  <p class = "media-partner-description">A description will go here</p>
  </div>

  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/ksuif-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">KSUIF</h3>
  <p class = "media-partner-description">A description will go here</p>
  </div>

  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/ksuif-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">KSUIF</h3>
  <p class = "media-partner-description">A description will go here</p>
  </div>


  <!--Update Class-->
  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/ksuif-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">KSUIF</h3>
  <p class = "media-partner-description">A description will go here</p>
  </div>

  <!--Update Class-->
  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/lunanegra-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">Luna Negra</h3>
  <p class ="media-partner-description">A description will go here</p>
  </div>

  <!--Update Class-->
  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/smsales-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">KSU S&M</h3>
  <p class ="media-partner-description">A description will go here</p>
  </div>

  <!--Update Class-->
  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/tv2-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">Uhuru</h3>
  <p class ="media-partner-description">A description will go here</p>
  </div>

  <!--Update Class-->
  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/uhuru-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">Here is my name</h3>
  <p class ="media-partner-description">A description will go here</p>
  </div>

  <!--This is a repeat because Kelsey can't count-->
  <div class = "media-partner-container-grid">
  <div class = "media-partner"><img src="/assets/img/brands/uhuru-logo.svg" class = "brand-logo"></div>
  <h3 class = "media-partner-name">Here is my name</h3>
  <p class ="media-partner-description">A description will go here</p>
  </div>
  </div>

</section>


{{>organisms-calender}}
<!--<section class = "social-media-container">
  <h2 class = "subhead">Social Media</h2>
  <div class = "social-media-filler"></div>
</section>-->
</main>
{{>organisms-footer}}

</body>
