<section class = "outside-div-container-brands">
  <h2 class = "subhead">Media Partners</h2>
<section class = "brand-logo-div-outside-container">

<!--
<div class = "brand-logo-grid">
  <div class = "media-partner-container">
    {{>atoms-brand-logo}}
    <h3 class = "media-partner-name">Here is my name</h3>
    <p class ="media-partner-description">A description will go here</p>
  </div>
</div>
-->

<div class = "brand-logo-grid">
<div class = "media-partner-container">
<div class = "media-partner"></div>
<h3 class = "media-partner-name">Here is my name</h3>
<p class ="media-partner-description">A description will go here</p>
</div>

<div class = "media-partner-container">
<div class = "amag-container"></div>
<h3 class = "media-partner-name">Here is my name</h3>
<p class ="media-partner-description">A description will go here</p>
</div>

<div class = "bsr-container"></div>
<h3 class = "media-partner-name">Here is my name</h3>
<p class ="media-partner-description">A description will go here</p>
</div>

<div class = "fusion-container"></div>
<h3 class = "media-partner-name">Here is my name</h3>
<p class ="media-partner-description">A description will go here</p>
</div>

<div class = "kentstater-container"></div>
<h3 class = "media-partner-name">Here is my name</h3>
<p class ="media-partner-description">A description will go here</p>
</div>

<div class = "brand-container"></div>
<h3 class = "media-partner-name">Here is my name</h3>
<p class ="media-partner-description">A description will go here</p>
</div>

<div class = "fusion-container"></div>
<h3 class = "media-partner-name">Here is my name</h3>
<p class ="media-partner-description">A description will go here</p>
</div>
</div>

<div class = "brand-logo-grid">
</div>
</section>

</section>
