{% extends "_layout" %}

{% block hero %}
	{% include '_includes/hero.html' %}
{% endblock %}

{% block content %}
<div class = "page-header">
  <h1 class="head-line">{{entry.title}}</h1>
</div>
<section class="section">
	<h2 class="intro-sentence-header">{{entry.tagline}}</h2>
	<div class="intro-paragraph">{{entry.body}}</div>
  {% for asset in entry.files %}
	<a href="{{asset.url}}" alt="{{asset.title}}" />Application Form</a>
		{% endfor %}
</section>
<section class="section">

<h2 class = "subhead">Student Employment Opportunities</h2>
{% cache %}
  <section class="student-employee-container">

    {% for partner in craft.entries.section('partners').order('(CASE WHEN title LIKE "The %" THEN SUBSTRING(title, 5) ELSE title END ) asc') %}
				{% if craft.entries.section('jobs').relatedTo(partner) | length %}
				<div class="job-opening-container">
	        <div class="mediapartner-name">
						<h2 class="mediapartner-type"><a href="{{partner.url}}">{{partner.title}}</a></h2>
						{% for entry in craft.entries.section('staff').relatedTo(partner)%}
						{% if entry.employeeType.contains('studentMediaLeader') %}
							<p class="mediapartner-contact">For questions related to these positions, contact {{entry.firstName}} {{entry.lastName}}, {{entry.jobTitle}} at <a class="contact-email" href="mailto:{{entry.email}}">{{entry.email}}</a></p>
						{% endif %}
						{% endfor %}
	        </div>

					 <div class="position-name-contact-container">
					{% for job in craft.entries.section('jobs').relatedTo(partner) %}

			      <div class="position-opening">
			        <h4 class="position-name">{{job.title}}</h4>
			        <div class="opening-description">{{job.body}}</div>


						{% if job.applicationForm | length or job.webUrl | length %}

						<div class="position-contact">


								{% if job.applicationForm | length %}
								{% for app in job.applicationForm %}
								<a href="{{app.url}}" class = "secondary-button app-button">Download Application (PDF)</a>

								{% endfor %}
								{% endif %}

								{% if job.webUrl | length %}
								<a href="{{job.webUrl}}" class = "secondary-button app-button">Apply Now</a>
								{% endif %}

			      </div>
						{% endif %}
						</div>

				{% endfor %}
				</div>

  </div>
	{% endif %}
  {% endfor %}
</section>
{% endcache %}
</section>

<section class="section">

<h2 class = "subhead">Frequently Asked Questions (FAQs)</h2>
{% cache %}
<div class="FAQ-container">

  {% for block in entry.faq %}

      {% if block.answer | length > 270  %}
      <div class="FAQ">
      <h4 class="question">{{block.question}}</h4>
      <div class="more-text">
      <div class="answer">{{block.answer }}</div>
      </div>
      <a href="#" class="more-link"><span>See More about Question: {{block.question}}</span></a>
      </div>
      {% endif %}

    {% if block.answer | length < 270 %}
      <div class="FAQ">
      <h4 class="question">{{block.question}}</h4>
      <div class="answer">{{block.answer}}</div>
      </div>
    {% endif %}
{% endfor %}
</div>
{% endcache %}
{#   Starts at 0, goes to 5. Default text is: Read More
| striptags | slice(0,5) | default('Read More')
109 characters is 2 lines

 #}
</section>

<section class = "section">
<h2 class ="subhead calender-subhead">Calendar & Events</h2>
<section class="calender-container calender-main">
  <div class ="events">
    {% for entry in craft.entries.section('events').order('date') %}
    	{% include '_includes/event.html' %}
    {% endfor %}
</section>
</section>
{% endblock %}
