{% extends "_layout" %}

{% block content %}

		<h1>{{ entry.title }}</h1>
		{% for asset in entry.heroImage %}
	<img src=”{{asset.url}}” alt=”{{asset.title}}”” />
{% endfor %}
{% for asset in entry.logo %}
<img src=”{{asset.url}}” alt=”{{asset.title}}”” />
{% endfor %}
{{entry.description}}
{{entry.firstName}}
{{entry.lastName}}
{{entry.phone}}
{{entry.email}}

{% for block in entry.socialMedia %}

    {% if block.type == "socialMediaBlock" %}

        <a href= "{{block.address}}">{{ block.socialName }}</a>


    {% endif %}

{% endfor %}

{% endblock %}
