{% extends "_layout" %}

{% block content %}

<div class="secondary-hero-image">
	{% for asset in entry.heroImage %}
	<img class = "secondary-image"  <img src="{{asset.url}}" alt="{{asset.title}}" />
	{% endfor %}
</div>

	{% for entry in craft.entries.section('partners').featuredMediaPartner('1') %}
	<section class ="lets-try-this">
	  <div class = "media-partner-container-grid">
	  <div class = "media-partner">
			{% for asset in entry.heroImage %}
				<a href="{{entry.url}}" class="media-partner" style="background-image:url('{{asset.url('mediaPartnerIcon')}}');">
			{% endfor %}
	    {% for asset in entry.logo %}
	      <img src="{{asset.url}}" alt="{{asset.title}}" class="brand-logo" />
	    {% endfor %}
			</a>
	  </div>
	  <h3 class = "media-partner-name">{{ entry.title }}</h3>
	  <p class = "media-partner-description">{{entry.shortDescription}}</p>
	  </div>
	</section>
	{% endfor %}

	<section class = "scroll-container">
	<h2 class ="subhead calender-subhead">Calender & Events</h2>
	<section class="calender-container calender-main">
	  <div class ="container-scroll-box">
	  {% for entry in craft.entries.section('events').find() %}
		  <div class="event-container">
		      <div class="date-box">
		        <div class="date">
		          <h4 class="date-style">{{entry.time|date("d")}}</h4>
		        </div>
		        <div class="month">
		          <h4 class="month-style">{{entry.time|date("F")}}</h4>
		        </div>
		      </div>
		      <div class="event">
		        <h3 class="event-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
		        <p class="event-words">{{entry.description}}</p>
		      </div>
				</div>
			{% endfor %}
			{% endblock %}
	</section>
	</section>
