{% extends "_layout" %}

{% block hero %}
	{% include '_includes/hero.html' %}
{% endblock %}

{% block content %}
	<div class = "page-header">
		<h1 class="head-line">{{entry.title}}</h1>
	</div>
	<h2 class="intro-sentence-header">{{entry.tagline}}</h2>
	<div class="intro-paragraph">{{entry.body}}</div>
	<section class ="section brand-grid-all">
			{% for entry in craft.entries.section('partners').featuredMediaPartner('1').order('(CASE WHEN title LIKE "The %" THEN SUBSTRING(title, 3) ELSE title END ) asc') %}
	  <div class = "media-partner-container-grid">
			{% for asset in entry.heroImage %}
				<a href="{{entry.url}}" class="media-partner" style="background-image:url('{{asset.url('mediaPartnerIcon')}}');">
			{% endfor %}

	    {% for asset in entry.logo %}
	      <img src="{{asset.url}}" alt="{{asset.title}}" class="brand-logo" />
	    {% endfor %}
			</a>
	  <h3 class = "media-partner-name"><a href="{{entry.url}}">{{ entry.title }}</a></h3>
	  <p class = "media-partner-description">{{entry.shortDescription}}</p>
	  </div>
		{% endfor %}
	</section>

	<section class = "section scroll-container">
	<h2 class ="subhead calender-subhead">Upcoming Media Partner Events</h2>
	  <div class ="events">
	  {% for entry in craft.entries.section('events').find() %}
		  <div class="event-container">
		      <div class="date-box">
		        <div class="date">
		          <h4 class="date-style">{{entry.time|date("d")}}</h4>
		        </div>
		        <div class="month">
		          <h4 class="month-style">{{entry.time|date("M")}}</h4>
		        </div>
		      </div>
		      <div class="event">
		        <h3 class="event-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
		        <p class="event-words">{{entry.description}}</p>
		      </div>
				</div>
			{% endfor %}
	</section>
	{% endblock %}
