<h1>Smooth Accordion Dropdown Menu Demo</h1>
<!-- Contenedor -->
<div id="accordion" class="accordion">
  <li>
    <div class="link platform-dropdown"><h2 class = "advertising-platform-headers">Bundles</h2></div>
    <div class="submenu">
      <div class = "platform-content-container">
        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, TV & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>

        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, TV & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>

        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, TV & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>

        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, TV & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>

        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, TV & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>

        <div class = "platform-content">
          <h3 class = "platform-title-header">Print, TV & Radio</h3>
          <h3 class = "platform-price-header">$325</h3>
          <ul class = "platform-list">
            <li>Two 1/16- page full color ads in The Kent Stater for two days.</li>
            <li>Twenty 10-second live-reads with your business' logo shown on TV2 within two weeks.</li>
            <li>Sixty 10-second live-reads on Black Squirrel Radio within one month.</li>
          </ul>
        </div>
      </div>
  <li>
    <div class="link"><i class="fa fa-code"></i>Coding<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
      <li><a href="#">Javascript</a></li>
      <li><a href="#">jQuery</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </li>
  <li>
    <div class="link"><i class="fa fa-mobile"></i>Devices<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
      <li><a href="#">Tablet</a></li>
      <li><a href="#">Mobile</a></li>
      <li><a href="#">Desktop</a></li>
    </ul>
  </li>
  <li>
    <div class="link"><i class="fa fa-globe"></i>Global<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
      <li><a href="#">Google</a></li>
      <li><a href="#">Bing</a></li>
      <li><a href="#">Yahoo</a></li>
    </ul>
  </li>
</ul>
