{{>organisms-header}}
{{>organisms-secondary-hero-image}}

<main>
  <div class = "page-header">
  <h1 class="first-word">Get Involved</h1><h1 class="head-line">With Student Media</h2>
  </div>
<div class = "advertising-content">
  <h2 class = "intro-sentence-header">Find Job Opportunities, Connect with Students</h2>
  <p class = "intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
    mollit anim id est laborum.</p>
</div>
<h2 class = "subhead">Student Employee Opportunities</h2>
  <div class="job-openings-container">
    <div class="mediapartner-section">
      <h4 class="mediapartner-opening">Student Media Office</h4>
      <p class="job-opening">Graphic Designer</p>
      <p class="job-opening">Copywriter</p>
    </div>
    <div class="mediapartner-section">
      <h4 class="mediapartner-opening">The Burr</h4>
      <p class="job-opening">Graphic Designer</p>
      <p class="job-opening">Copy Editor</p>
      <p class="job-opening">Photographer</p>
    </div>
    <div class="mediapartner-section">
      <h4 class="mediapartner-opening">A Magazine</h4>
      <p class="job-opening">Graphic Designer</p>
      <p class="job-opening">Copy Editor</p>
      <p class="job-opening">Photographer</p>
    </div>
    <div class="mediapartner-section">
      <h4 class="mediapartner-opening">TV2</h4>
      <p class="job-opening">Audio Technician</p>
      <p class="job-opening">Cameraperson</p>
      <p class="job-opening">On-Air Graphics Designer/Animator</p>
    </div>
    <div class="mediapartner-section">
      <h4 class="mediapartner-opening">Black Squirrel Radio</h4>
      <p class="job-opening">On-Air Broadcaster</p>
      <p class="job-opening">Scriptwriter</p>
    </div>
    <div class="mediapartner-section">
      <h4 class="mediapartner-opening">KentWired</h4>
      <p class="job-opening">Copy Editor</p>
      <p class="job-opening">UI/UX Designer</p>
      <p class="job-opening">Developer</p>
    </div>
  </div>
  <div class="app-form">
    <p>Download the Application:</p>
    <button class = "secondary-button app-button">Application Form</button>
  </div>
<h2 class = "subhead">Student Leadership Application</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
  minim veniam, quis nostrud exercitation ullamco</p>
  <h4>Contact Kevin Dilley for more Information</h4>
  <button class = "secondary-button app-button">Download Student Leadership Form</button>

<h2 class = "subhead">Frequently Asked Questions (FAQs)</h2>
<div class="FAQ-container">
  <div class="FAQ">
  <h4 class="question">How can I become a student media leader?</h4>
  <p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut</p>
</div>
  <div class="FAQ">
  <h4>How can I become a student media leader?</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut</p>
  </div>
  <div class="FAQ">
  <h4>How can I become a student media leader?</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut</p>
  </div>
  <div class="FAQ">
  <h4>How can I become a student media leader?</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut</p>
  </div>
</div>

</main>
