
<div class = "main-container">

<!--<h2 class = "subhead">Subhead</h2>-->
<div class = "page-header">
<h1 class="first-word">Advertise</h1><h1 class="head-line">With Us</h1>
</div>

<!--Intro Sentence Header-->
<h2 class = "intro-sentence-header">Find new customers. Gain back old ones. </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis est in pharetra maximus. Sed id mi et nibh facilisis elementum. Phasellus sit amet rutrum risus, et mollis elit. Proin tristique erat quis nunc viverra fermentum. Aliquam aliquam blandit sapien. Fusce luctus mauris ut ipsum blandit lobortis. Nam consequat, quam pharetra malesuada elementum, enim neque vulputate dui, eget volutpat dolor ligula in metus. Cras aliquam nisi quis maximus finibus. Nam quis sagittis erat. Nulla facilisi. Cras aliquet id tellus vitae egestas. Etiam libero lorem, eleifend interdum molestie id, rhoncus ac tellus. Proin ac malesuada eros, at vehicula purus.
</p>

<!--Subhead-->
<h3 class = "subhead">Platforms</h3>

<!--General Header-->
<h4 class = "general-header">Daily Kent Stater</h4>

</div>
