{% extends '_layout' %}

{% block hero %}
{% include '_includes/hero.html' %}
{% endblock %}

{% block content %}

<div class="page-header">
	<h1 class="head-line">{{ entry.title }}</h1>
</div>

<section class="section">
	<h2 class="intro-sentence-header">{{ entry.tagline }}</h2>

  {% if entry.body|length %}
	  {{ entry.body }}
  {% endif %}
</section>

<section class="section">
  <h2 class="subhead">Student Leaders</h2>
  {% cache %}
  <div class="student-leader-container section">
    {% for entry in craft.entries.section('staff').order('lastName') %}
      {% if entry.employeeType.contains('studentMediaLeader') %}
        <div class="student-leader">
          <h2 class="student-leader-contact">{{ entry.firstName }}
            {{ entry.lastName }}</h2>
          <h5 class="student-leader-title">{{ entry.jobTitle }}</h5>
          <a class="student-leader-email" href="mailto:{{ entry.email }}">{{ entry.email }}</a>

          <div class="social-media__icons social-media__icons--staff">
            {% for block in entry.socialMedia %}
              {% if block.type == "socialMediaBlock" %}
                <a class="social-media__icon {{ block.socialName }}" href="{{ block.address }}">{{ block.socialName }}</a>
              {% endif %}
            {% endfor %}
          </div>

        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endcache %}
</section>

<section class="section">
  <h2 class="subhead">Forms and Resources</h2>
  <div class="meeting-minutes-container">

    {% for block in entry.studentResources %}

      {% if block.type == 'resourceUrl' %}
        <a class="meeting-box" href="{{ block.resourceUrl }}" target="_blank">
          <h5 class="meeting-date">{{ block.resourceName }}</h5>

          <div class="meeting-links">
            {% for option in block.iconType.options %}
              {% if option.selected %}
                <img alt="{{ option }} icon" height="100" src="/assets/img/icons/{{ option }}-icon.svg" width="100">
              {% endif %}
            {% endfor %}
            <span class="meeting-pdf">{{ block.actionText|length ? block.actionText : 'Complete' }}</span>
          </div>
        </a>
      {% else %}
        <a class="meeting-box" href="{{ block.resourceAsset.first().url }}" target="_blank">
          <h5 class="meeting-date">{{ block.resourceName }}</h5>

          <div class="meeting-links">
            {% if block.resourceDescription|length %}
              <span class="meeting-description">{{ block.resourceDescription }}</span>
            {% else %}
              <img alt="pdf icon" height="100" src="/assets/img/icons/pdf-icon.svg" width="100">
            {% endif %}
            <span class="meeting-pdf">{{ block.actionText|length ? block.actionText : 'View' }}</span>
          </div>
        </a>
      {% endif %}

    {% endfor %}

  </div>
</section>

{% endblock %}
