<header>
  <section class = "header-nav-container">
    <button id="nav-trigger" class="nav-trigger">Menu</button>
  </section>
  <section class = "header-logo-container">
    <a href="{{ link.templates-home }}">
      <img class = "header-logo" src ="/assets/img/logos/SM_Logo.svg">
      <img class = "header-logo__condensed" src ="/assets/img/logos/logo_mark.svg">
    </a>
  </section>
<nav id="nav" class="out">
  <ul>
    <li class="has-children"><a href="{{ link.templates-about }}" class="nav-label">About</a>
      <ul class="nav__level2">
        <li><a href="{{ link.templates-media-partners-main }}" class="nav-label">Media Partners Overview</a></li>
        <li><a href="{{ link.templates-thekentstater }}" class="nav-label">The Kent Stater</a></li>
      </ul>
    </li>
    <li><a href="{{ link.templates-get-involved }}" class="nav-label">Get Involved</a></li>
    <li><a href="{{ link.templates-advertising }}" class="nav-label">Advertising</a></li>
    <li class="has-children"><a href="{{ link.templates-media-partners-main }}" class="nav-label">Media Partners</a>
        <ul class="nav__level2">
          <li><a href="{{ link.templates-media-partners-main }}" class="nav-label">Media Partners Overview</a></li>
          <li><a href="{{ link.templates-thekentstater }}" class="nav-label">The Kent Stater</a></li>
          <li><a href="#" class="nav-label">The Burr</a></li>
          <li><a href="#" class="nav-label">Independent Films</a></li>
          <li><a href="#" class="nav-label">TV2</a></li>
          <li><a href="#" class="nav-label">Black Squirrel Radio</a></li>
          <li><a href="#" class="nav-label">Black Squirrel Radio</a></li>
          <li><a href="#" class="nav-label">Black Squirrel Radio</a></li>
          <li><a href="#" class="nav-label">Black Squirrel Radio</a></li>
        </ul>
      </li>
    <li><a href="{{ link.templates-contact }}" class="nav-label">Contact</a></li>
    <li class="cta-header"><a href="{{ link.templates-support }}" class="nav-label cta-header">Support Us</a></li>
  </ul>
</nav>
</header>
