<header>
  <section class = "header-nav-container">
    <button id="nav-trigger" class="nav-trigger">Menu</button>
  </section>
  <section class = "header-logo-container">
    <a href="#">
      <img class = "header-logo" src ="/assets/img/logos/SM_Logo.svg">
      <img class = "header-logo__condensed" src ="/assets/img/logos/logo_mark.svg">
    </a>
  </section>
<nav id="nav" class="out">
  <ul>
    <li><a href="#" class="nav-label">About</a></li>
    <li><a href="#" class="nav-label">Get Involved</a></li>
    <li><a href="#" class="nav-label">Advertising</a></li>
    <li class="has-children"><a href="#" class="nav-label">Media Partners</a>
        <ul class="nav__level2">
          <li><a href="#" class="nav-label">The Kent Stater</a></li>
          <li><a href="#" class="nav-label">The Burr</a></li>
          <li><a href="#" class="nav-label">Independent Films</a></li>
          <li><a href="#" class="nav-label">TV2</a></li>
          <li><a href="#" class="nav-label">Black Squirrel Radio</a></li>
        </ul>
      </li>
    <li><a href="#" class="nav-label">Contact</a></li>
    <li class="cta-header"><a href="#" class="nav-label cta-header">Support Us</a></li>
  </ul>
</nav>
</header>
