{{>organisms-header}}
<main class="no-image">
  <div class = "page-header page-header--no-image">
  <h1 class="first-word">Advertise</h1><h1 class="head-line">With The Kent Stater</h2>
  </div>
<h2 class = "subhead">Display Ads</h2>
<section class = "advertising-body-container">
<section class = "advertising-column">
<div class = "advertising-content">
  <table class = "advertising-matrix">
    <tr>
      <th></th>
      <th>size (w x h)</th>
      <th>price</th>
      <th>Campus/Non-Profit Price</th>
    </tr>
    <tr>
      <td>Full Page</td>
      <td>11' x 21'</td>
      <td>$1,450</td>
      <td>$1,100</td>
    </tr>
    <tr>
      <td>Front Page</td>
      <td>11' x 3'</td>
      <td>$450</td>
      <td>$400</td>
    </tr>
    <tr>
      <td>2/3 Page</td>
      <td>7.23' x 21'</td>
      <td>$975</td>
      <td>$735</td>
    </tr>
    <tr>
      <td>1/2 Page</td>
      <td>11' x 10.5'</td>
      <td>$725</td>
      <td>$550</td>
    </tr>
    <tr>
      <td>1/4 Page</td>
      <td>5.44' x 10.5'</td>
      <td>$375</td>
      <td>$275</td>
    </tr>
    <tr>
      <td>1/8 Page</td>
      <td>5.44' x 5'</td>
      <td>$175</td>
      <td>$130</td>
    </tr>
    <tr>
      <td>1/16 Page</td>
      <td>5.44' x 2'</td>
      <td>$75</td>
      <td>$55</td>
    </tr>
  </table>
  <p> Ads smaller than a 1/16 will run on the classifieds page and are priced on an individual basis.</p>
</div>
<div class = "advertising-content">
  <h4 class = "general-header orange-header"> Color Pricing</h4>
  <ul class = "advertising-price-list">
    <li class="bold-info"> Full Color: $75</li>
    <li> Black + 1 Color: $30</li>
  </div>

<div class = "advertising-content">
  <h4 class = "general-header orange-header"> Volume Discounts</h4>
  <ul class = "advertising-content-list">
    <li>Clients may sign volume discounts per semester.</li>
    <li>The client must run a minimum of the contracted amount to receive the discountfor all Kent State ads.</li>
    <li>The discount will appear on invoices.</li>
  </ul>
  <ul class = "advertising-price-list">
    <li>$750 = 5% off</li>
    <li>$1,250 = 10% off</li>
    <li>$1,500 = 15% off</li>
    <li>$2,500+ = 20% off</li>
  </ul>
</div>

<div class = "advertising-content"> <!--Should I make the paragraph below a UL?-->
  <h4 class = "general-header orange-header"> <!--Need a new name lol-->Display Ad Deadlines</h4>
  <ul class = "advertising-content-list">
    <li>Ad space reservation is due two business days prior to the run date.</li>
    <li>Ad copy is due one business dayprior to the run date.</li>
    <li>Earlier deadlines may apply for special projects or sections.</li>
  </ul>
</div>
</section>

<section class = "advertising-column">
<div class = "advertising-content">
  <h4 class = "general-header orange-header">Inserts & Post-Its®</h4>
  <ul class = "advertising-price-list">
    <li>Single-Page Insert: $450</li>
    <li>Multi-Page Insert: $500</li>
    <li>3'x3' or 4'x5' Post-It®: $600</li>
  </ul>
  <ul class = "advertising-content-list">
    <li>Post-Its® must be printed in a fan-fold and boxed.</li>
    <li>The unwind direction must be #1 or #3.</li>
    <li>Insert/Post-It® sample must be submitted to Kent State Student Media for approval.
    Inserts/Post-Its® must be printed by the client and shipped directly to the printer
    at least one week prior to insertion.</li>
    <li>Inserts and Post-Its® are within every copy of The Kent Stater. Advertisers should print and ship 6,750 total.</li>
    <li>Kent State Student Media can arrange the printng of the Post-Its® for advertisers for an additional $75.</li>
  </ul>
</div>

<div class = "advertising-content">
  <ul class = "advertising-content-list">
    <li><strong>Please ship directly to:</strong></li>
    <li>Midwest Offset</li>
    <li>629 Wabash Avenue NW</li>
    <li>New Philadelphia, Ohio 44663</li>
    <li>800-837-8666</li>

  </ul>
</div>

<div class = "advertising-content">
  <ul class = "advertising-content-list">
    <h4 class = "general-header orange-header">Classifieds</h4>
    <ul class = "advertising-price-list">
      <li>Cost per word: $0.35</li>
      <li>Extras: $1 (Choose from border, bold, italics, centered, reversed type)</li>
      <li>Logo/picture: $3 (black & white only)</li>
    </ul>
    <ul class = "advertising-content-list">
      <li>All pricing is per day.</li>
      <li>The minimum price per day is $3.50.</li>
      <li>All classified ads require pre-payment.</li>
      <li>Phone numbers and websites are one word.</li>
      <li>All punctuation is free</li>
      <li>Reservations are required by noon one business day prior to the run date</li>
    </ul>
  </div>
</section>
</section>
<section class = "advertising-bottom-section">
<button class = "advertising-button">Visit the Kent Stater</button>
<button class = "advertising-button">See Examples</button>
<ul class = "advertising-contact-list">
  <li>For any questions about advertising with Student Media, please contact:</li>
  <li>Jim Jones at (333)-333-3333, jjones@kent.edu</li>
  <li>OR</li>
  <li>Download our Media Kit PDF for more info, <a href="#">here</a></li>
</ul>
</section>

</main>
{{>organisms-footer}}
