/*About Us News*/
.news-stories-content{
  background-color: #ededed;
  margin: 0 auto;
}

.news-story-title {
  margin-top: 0;
  font-size: 1.2em;
  margin-bottom: .75em;
  a {
    color: $dark-blue;
  }
}

.news-story-date {
  font-size: .8em;
  font-weight: 500;
}

.news-story-link {
  font-size: .8em;
  text-transform:uppercase;
  color: black;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
  font-weight: 700;
  position: relative;
  padding-right: 1.5em;
  &:hover,&:focus {
    color: $dark-blue;
  }
  &:after {
    content: "";
    background-repeat: no-repeat;
    background-image: url(/assets/img/global/arrow-down.svg);
    background-size: 100% auto;
    background-position: center center;
    width: 12px;
    height: 12px;
    opacity: .8;
    top: 4px;
    right: 0;
    position: absolute;
    transform: rotate(270deg) scaleX(-1);
  }
}

.news-story-description {
  font-size: .95em;
}

.news-story-image, .recognition-image{
  width: 100%;
  height: auto;
}

.news-stories-content, .recognition-content{
  margin-bottom: 15px;
}

@media screen and (min-width: 800px){
  .news-stories-content, .about-recognition-flex-container{
    display: flex;
    justify-content: space-between;
  }
  .recognition-image-container {
    width: 30%;
    margin: 0;
    padding: 0;
  }
  .recognition-content {
    width: 65%;
    p {
      margin-top: 0;
    }
  }
  .recognition-list {
    columns: 2;
  }
}

.recognition-list{
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.recognition-item{
  padding: 15px 0;
  border-top: .5px #e9ebee solid;
  width: 100%;
  margin-bottom: .5em;
}

.recognition-image{
  margin: 0 auto;
}

.recognition-name{
  color: #eeab15; /*change to mandarin*/
}

.recognition-image-caption{
  display: block;
  text-align: center;
  background-color: #1f3c72; /*change to dark-blue*/
  color: #ffffff; /*chanfe to white*/
  padding: 10px;
  margin-top: -40px;
  z-index: 1;
  position: relative;
}

.recognition-button{
  width: 200px;
  margin-left: 25%;
  margin-right: 25%;
}

.news-story-description{
margin-left: 0;
}

.news-story-description-container{
  padding-left: 15px;
}

.news-story-image{
  text-align: center;
}

/*About Us-Board Members */

@media screen and (max-width:650px) {
    .voting-members {
      display: block;
    }

    .meeting-minutes-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .meeting-box {
      width: 49%;
    }
}

@media screen and (min-width:650px) {
    .voting-members {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      grid-column-gap: 3em;
    }

    .member {
      margin-bottom: 1em;
    }

    .meeting-box {
      width: inherit;
    }

    .meeting-minutes-container {
      display: grid;
      grid-column-gap: .25em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-between;
    }
  }

  .non-voting-members {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      margin-top: 0;
  }

@media screen and (min-width:900px) {
    .non-voting-members {
      columns: 2;
      column-gap: 50px;
    }
    .non-voting-member-name {
      display: block;
      margin-top: 0;
    }
}

.member-title {
  margin-bottom: 0;
  color: $dark-blue;
  margin-top: 0;
}

.member-name {
  margin-top: 2px;
}

.non-voting-member-name {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom:1.5em;
  line-height:1.3;
}

b {
  font-weight: 500;
}

.guidelines {
  margin-bottom: 1em;
}
.guidelines-button {
  display: inline-block;
  margin-right: 1em;
}

.non-voting-members {
  margin-top: 15px;
  margin-bottom: 20px;
}

.meeting-box {
  text-align: center;
  background-color: #ededed;
  margin-bottom: .35em;
  padding: 1.5em 1em;
}

.meeting-date {
  margin-left: 0;
  margin-top: 0;
  font-size: .9em;
  font-weight: 500;
}

.meeting-pdf {
  margin-left: 0;
  font-size: .7em;
  display: block;
  text-decoration: none;
  padding-top: .5em;
  color: $dark-blue;
}
/*end of board members CSS*/


/*About Us News cause it wouldn't work for some reason*/
/*About Us News*/
.news-stories-content{
  background-color: #ededed;
}

.intro-sentence-header--news {
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: $mandarin;
  margin-top: .5em;
  line-height:1.2;
  text-transform: uppercase;
  margin-bottom: 1em;
  @media screen and (min-width: 800px) {
    font-size: 2em;
  }
}

.news-story-image{
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.news-stories-content{
  margin-bottom: 15px;
  padding: 1.5em;
}

.news-half-image {
  width: 100%;
  margin-bottom: .5em;
  margin-top: 1em;
}

@media screen and (min-width: 800px){
  .news-stories-content{
    display: flex;
    justify-content: space-between;
  }
  .news-story-image {
    margin-bottom: 0;
  }
  .news-image-container{
    width: 25%;
  }
  .news-story-description-container {
    width: 70%;
  }

  .news-half-image {
    float: left;
    width: 35%;
    margin-right: 2.5em;
    margin-bottom: 2em;
  }

  .news-story-description-container--full {
    width: 100%;
  }
}
