/*About Us News*/
.news-stories-content{
  background-color: #ededed;
  width: 95%;
  margin: 0 auto;
}

.news-story-image, .recognition-image{
  width: 100%;
  height: auto;
}
.news-story-image{
  max-width: 800px;
}
.news-stories-content, .recognition-content{
  margin-bottom: 15px;
  padding: 15px;
}

.about-recognition-flex-container{
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (min-width: 800px){
  .news-stories-content, .recognition-content, .about-recognition-flex-container{
    display: flex;
  }

  /*.news-story-description-container, .news-image-container, {
    width: 50%;
  }
*/
}

.recognition-list{
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.recognition-item{
  padding: 15px;
  border-style: solid;
  border-color: #ededed;
  border-width: .5px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

.recognition-image{
  margin: 0 auto;
}

.recognition-name{
  color: #eeab15; /*change to mandarin*/
}

.recognition-image-caption{
  display: block;
  text-align: center;
  background-color: #1f3c72; /*change to dark-blue*/
  color: #ffffff; /*chanfe to white*/
  padding: 10px;
  margin-top: -40px;
  z-index: 1;
  position: relative;
}

.recognition-button{
  width: 200px;
  margin-left: 25%;
  margin-right: 25%;
}

.news-story-description{
margin-left: 0;
}

.news-story-description-container{
  padding-left: 15px;
}

.news-story-image{
  text-align: center;
}
