/*About Us News*/
.news-stories-content{
  background-color: #ededed;
  width: 95%;
  margin: 0 auto;
}

.news-story-image, .recognition-image{
  width: 100%;
  height: auto;
}
.news-story-image{
  max-width: 800px;
}
.news-stories-content, .recognition-content{
  margin-bottom: 15px;
  padding: 15px;
}

.about-recognition-flex-container{
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (min-width: 800px){
  .news-stories-content, .recognition-content, .about-recognition-flex-container{
    display: flex;
  }

  /*.news-story-description-container, .news-image-container, {
    width: 50%;
  }
*/
}

.recognition-list{
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.recognition-item{
  padding: 15px;
  border-style: solid;
  border-color: #ededed;
  border-width: .5px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

.recognition-image{
  margin: 0 auto;
}

.recognition-name{
  color: #eeab15; /*change to mandarin*/
}

.recognition-image-caption{
  display: block;
  text-align: center;
  background-color: #1f3c72; /*change to dark-blue*/
  color: #ffffff; /*chanfe to white*/
  padding: 10px;
  margin-top: -40px;
  z-index: 1;
  position: relative;
}

.recognition-button{
  width: 200px;
  margin-left: 25%;
  margin-right: 25%;
}

.news-story-description{
margin-left: 0;
}

.news-story-description-container{
  padding-left: 15px;
}

.news-story-image{
  text-align: center;
}

/*About Us-Board Members */

@media screen and (max-width:650px) {
    .voting-members {
      display: block;
    }

    .meeting-minutes-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .meeting-box {
      width: 49%;
    }
}

@media screen and (min-width:650px) {
    .voting-members {
      display: flex;
      flex-wrap: wrap;
    }

    .member {
      width: 32%;
    }

    .meeting-box {
      width: 24.5%;
    }

    .meeting-minutes-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

@media screen and (min-width:1000px) {
    .non-voting-members {
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-between;
    }
    .non-voting-member-name {
      width: 47%;
    }
}

.member-title {
  padding-left: 20px;
  margin-bottom: 0;
  color: $dark-blue;
}

.member-name {
  margin-top: 5px;
  margin-left: 20px;
}

.non-voting-member-name {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

b {
  font-weight: 500;
}

.guidelines {
  display: inline;
}
.guidelines-button {
  display: inline-block;
}

.non-voting-members {
  margin-top: 15px;
  margin-bottom: 20px;
}

.meeting-box {
  text-align: center;
  background-color: #ededed;
}

.meeting-date {
  margin-left: 0;
}

.meeting-pdf {
  margin-left: 0;
  text-decoration: underline;
  font-size: .7em;
}
/*end of board members CSS*/


/*About Us News cause it wouldn't work for some reason*/
/*About Us News*/
.news-stories-content{
  background-color: #ededed;
}

.news-story-image{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.news-stories-content{
  margin-bottom: 15px;
  padding: 15px;
}
