#skip-to-content {
  padding: 1em;
  position: absolute;
  top: -999px;
  left: -999px;
  width: 1px;
  height: 1px;
  z-index: -999;
  overflow: hidden;
  color: white;
}

#skip-to-content:focus {
  position: absolute;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  overflow: auto;
  background: #222;
  z-index: 999;
}
