/*Main advertising*/
.accordion {
  margin: 20px auto 10px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding-left: 35px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}

.advertising-platform-headers{
  font-weight: $light;
  color: black;
}

.submenu {
  display: none;
}

.platform-content{
  width: 100%;
  padding: 1.5em;
  margin: .5em 0;
}

.platform-description {
  margin-bottom: 0;
  font-size: .95em;
}

.platform-content-container{
  margin-left:1em;
  margin-right:1em;
  padding-top:.5em;
  padding-bottom: .5em;
  @media screen and (min-width: 600px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
    justify-content: space-around;
  }
  @media screen and (min-width: 1100px){
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.platform-title-header, .platform-price-header{
  text-align: center;
}

.platform-list{
  font-weight: $light;
  padding: .8em;
  list-style-type: none;
}

.platform-list li{
  margin-bottom: 5px;
  font-size: .8em;
  font-weight: normal;
}

.bold-info li{
  margin-bottom: 5px;
  font-size: .8em;
  font-weight: $light;
}

.platform-list td{
  margin-bottom: 5px;
  font-size: .8em;
}

.platform-title-header{
  margin: 0;
  font-weight: 500;
  letter-spacing: .5px;
  font-weight: 300;
}

.platform-content-header {
  font-weight: 400;
  color: $mandarin;
  margin-top: 0;
  line-height:1.2;
}

.platform-price-header{
  color: $dark-blue;
  margin: 0;
  font-weight: $light;
  flex: none;
}

.platform-content{
  background-color: $white;
}

.testimonial {
  font-weight: 400;
  color: $dark-blue;
  line-height: 1.6em;
  margin-left: 15px;
}

.testimonial-name {
  margin-left: none;
}

.ad-button {
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

/*Light gray Kelsey will probably change because she hates every color I pick out lolol*/
.submenu{
  background-color: #ededed;
  padding-top:.25em;
}

.platforms-container{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.platform-dropdown{
  border-style: solid;
  border-color: $gray;
  &:hover, &:active {
    background-color: lighten($gray,35%);
  }
}

div.accordion:before{
  content: '+';
  color: $lime-green;
  float: left;
  font-size: 40px;
  margin-top: 4px;
  margin-left: 10px;
  z-index: 1000;
position: relative;
}

.open .advertising-platform-headers {
  font-weight: 500;
}

div.accordion.open:before{
  content: "-";
}

/*Individual advertising*/

.advertising-matrix{
  width: 100%;
    border-spacing: 0;
}

th, td{
  text-align:left;
  padding: 10px;
  font-size: .9em;
}

th{
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-style: solid;
  border-color: black;
}

.orange-header {
  margin-left: 15px;
}

.advertising-price-list, .advertising-content-list ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: .95em;
}

.platform-content-container__description {
  padding: 1.5em;
  background-color: white;
  display: block;
  margin:1em;
  margin-bottom: 0;
}

.advertising-price-list{
  font-weight: bold;
  font-size: .9em;
}


.advertising-content{
  margin-bottom: 50px;
  font-weight: 300;
  line-height: 1.5em;
}

.advertising-bottom-section{
  width: 100%;
}


.advertising-bottom-section{
  text-align: center;
}

/*Spacing the lists*/
li{
  margin-bottom: 5px;
}


.advertising-contact-list{
  color: $dark-blue;
  text-align: center;
}

@media screen and (min-width: 750px){
  .advertising-column{
    width: 45%;
    margin: 0 auto;
  }
  .advertising-body-container{
    display: flex;
    justify-content: space-between;
  }

  .platform-content-header {
    flex: none;
  }
}
