
.accordion {
  width: 70%;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link { color: #b63b4d; }

.accordion li.open i { color: #b63b4d; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
}





.platform-content{
  width: 100%;
}
@media screen and (min-width: 800px){
.platform-content{
width: 30%;
  background-color: red;
}
}

.platform-content-container{
  display: flex;
  flex-wrap: wrap;
}

.platform-title-header, .platform-price-header{
  text-align: center;
}

.platform-list{
  font-weight: $light;
}

.platform-title-header{
  margin: 0;
  font-weight: 500;
  letter-spacing: .5px;
}
.platform-price-header{
  color: $white;
  margin: 0;
  font-weight: $light;
}

.platform-list li{
  margin-bottom: 5px;
  font-size: 12px;
}

.platform-content{
  background-color: $gray;
  margin: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-right: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 30px
}

.platforms-container{
  background-color: $white;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
