@keyframes drop {
	from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: .2;
  }

  to {
    opacity: 1;
  }
}

.body-nav-scrolled {
  margin-top: 91px;
	@media screen and (min-width: 900px) {
		margin-top: 131px;
	}
}

.main-nav-scrolled {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
	max-width: inherit;
  animation-name: drop;
	animation-duration: .7s;
  animation-fill-mode: both;
	padding-top:0;
	background-color: rgba(255, 255, 255, .98);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.main-nav-scrolled .header-nav-container {
	top: 20%;
}

.main-nav-scrolled .header-logo{
  display: none
}

@media screen and (min-width: 900px) {
	.main-nav-scrolled nav>ul {
		margin-top: -1.2em;
	}

	.main-nav-scrolled .nav__level2 {
		top: 4em;
	}

	.main-nav-scrolled {
		.header-logo-container {
			width: 14%;
		}
	}

	.main-nav-scrolled {
		.cta-header a {
			margin-top: 1.5em;
		}
	}

	.main-nav-scrolled .header-container {
		padding: .15em;
	}

	.main-nav-scrolled nav {
		background-color: inherit;
	}

	.main-nav-scrolled nav>ul>li {
		border-top: none;
	}

}

@media screen and (min-width: 900px) {

	.main-nav-scrolled nav {
		margin-left: 0;
	}

	.main-nav-scrolled {
		.header-logo-container {
			width: 16%;
			text-align: center;
		}
	}

}

.main-nav-scrolled .header-logo__condensed {
  display: inline-block;
  width: 40px;
  margin: .15em .5em;
	@media screen and (min-width: 900px) {
		width: 50px;
	}
}

header.main-nav-scrolled nav.in {
	top: 50px;
	height: 100vh;
}
