body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
}

main{
  margin: 0 auto;
  margin-top: -30px;
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: $white;
  max-width: 1200px;
  padding: 1.5em 1.75em;
  @media screen and (min-width: 800px) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 93%;
    padding: 1em 3em 3em 3em;
  }
  @media screen and (min-width: 1200px) {
    width: 80%;
  }
}

.section {
  margin-bottom: 2em;
  border-bottom: 1px solid #e9ebee;
  padding-bottom: 2em;
  &:last-child {
    border-bottom: none;
    margin-bottom: 1em;
    padding-bottom: 0;
  }
  @media screen and (min-width: 800px) {
    margin-bottom: 2.5em;
    &:last-child {
      margin-bottom: .5em;
    }
  }

}

.body-dual-column {
  @media screen and (min-width: 900px) {
    columns: 2;
    margin-top: 1em;
    column-gap: 50px;
    width:100%;
    display:block;
    p:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.no-image {
  margin-top: 0;
  .page-header {
    margin-top: -1em;
  }
  @media screen and (min-width: 800px) {
    margin-top: 3em;
    .page-header {
      margin-top: -2em;
    }
  }
}
