body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
}

main{
  margin: 0 auto;
  margin-top: -50px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  position: relative;
  background-color: $white;
  max-width: 1200px;
  padding: 1em;
  padding-bottom: 2em;
  @media screen and (min-width: 800px) {
    width: 93%;
    padding: 1em 2em 3em 2em;
  }
  @media screen and (min-width: 1200px) {
    width: 80%;
  }
}

.section {
  margin-bottom: 2em;
  border-bottom: 1px solid #e9ebee;
  padding-bottom: 2em;
  &:last-child {
    border-bottom: none;
    margin-bottom: 1em;
    padding-bottom: 0;
  }
  @media screen and (min-width: 800px) {
    margin-bottom: 1.5em;
    &:last-child {
      margin-bottom: .5em;
    }
  }

}

.no-image {
  margin-top: 30px;
}
