.media-partner{
background:linear-gradient(
  rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)
  ),
  url("/assets/img/brands/example.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  margin: 5px;
}

.brand-logo{
  margin: auto;
  align-items: center;
  justify-content: center;
}

.media-partners-container{
  display: flex;
  flex-wrap: wrap
}

.brand-logo-grid{
  display: flex;
}

.brand-logo-div-outside-container{
  overflow: scroll;
  margin-top: 25px;
}


@media screen and (min-width: 750px){
.media-partner{
width: 250px;
height: 250px;
  }
}

.outside-div-container-brands{
  width: 80%;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  padding-top: 25px;
  margin-top: 50px;
}

.media-partners-header{
  color: $mandarin;
  background-color: $dark-blue; /*change to dark blue*/
  width: 250px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -40px;
  margin-top: 20px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 1.4em;
  letter-spacing: .2px;
  line-height: 1.4em;
  display: inline;
}
