.media-partner{
background:linear-gradient(
  rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)
  ),
  url("/assets/img/brands/example.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  margin: 5px;
}


.amag-container {
  background:linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
    ),
    url("/assets/img/brands/backgroundimages/mag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    margin: 5px;
}

.bsr-container {
  background:linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
    ),
    url("/assets/img/brands/backgroundimages/sound.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    margin: 5px;
}

.fusion-container {
  background:linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
    ),
    url("/assets/img/brands/backgroundimages/fusion.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    margin: 5px;
}

.kentstater-container {
  background:linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
    ),
    url("/assets/img/brands/backgroundimages/magazine.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    margin: 5px;
}

.brand-logo{
  margin: auto;
  align-items: center;
  justify-content: center;
  max-width: 75%;
}

.media-partners-container{
  display: flex;
  flex-wrap: wrap
}

.brand-logo-grid{
  display: flex;
}

/*
.media-partner-container:hover {
  background-color: blue;
}
*/

.brand-logo-div-outside-container{
  overflow: scroll;
  margin-top: 25px;
}


@media screen and (min-width: 750px){
.media-partner, .bsr-container, .kentstater-container, .fusion-container, .amag-container {
display: flex;
  }
}

.outside-div-container-brands{
  width: 80%;
  background-color: $white;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin: 0 auto;
  margin-top: 50px;
}
