.media-partner{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  z-index: 100;
  @media screen and (min-width: 600px) {
    height: 125px;
    width: 125px;
  }
  @media screen and (min-width: 1000px) {
    height: 150px;
    width: 150px;
  }
  &:hover, &:focus {
    &:after {
      background-color: rgba(0,0,0,.6);
      cursor: alias;
    }
  }
  &:after {
    transition: .3s background-color ease-in-out;
    content: "";
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    z-index:5;
    background-color: rgba(0,0,0,.3);
  }
}

.brand-logo{
  margin: auto;
  align-items: center;
  justify-content: center;
  max-width: 65%;
  z-index:10;
}

.media-partner-description {
  margin-bottom: 35px;
  text-align: center;
}

.media-partner-name {
  margin-left: 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}


.media-partner-container-grid {
  text-align: center;
  margin: 0 auto;
}

.media-partner-description, .media-partner-name{
  width: 100%;
}


.lets-try-this{
display: flex;
flex-wrap: wrap;
padding: 2em;
}

@media screen and (min-width: 800px){
  .media-partner-container-grid{
    width: 48%;
  }
}

@media screen and (min-width: 1200px){
  .media-partner-container-grid{
    width: 30%;
  }
}

@media screen and (min-width: 2000px){
  .media-partner-container-grid{
    width: 20%;
  }
}
