.media-partner{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  z-index: 100;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
  @media screen and (min-width: 400px) {
    height: 100px;
    width: 100px;
  }
  @media screen and (min-width: 600px) {
    height: 125px;
    width: 125px;
  }
  @media screen and (min-width: 1000px) {
    height: 150px;
    width: 150px;
  }
  &:hover, &:focus {
    &:after {
      background-color: rgba(0,0,0,.7);
    }
  }
  &:after {
    transition: .3s background-color ease-in-out;
    content: "";
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    z-index:5;
    background-color: rgba(0,0,0,.45);
  }
}

.brand-logo{
  margin: auto;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  z-index:10;
}

.media-partner-description {
  margin-bottom: 25px;
  text-align: center;
  font-size: .95em;
}

.media-partner-name {
  margin-left: 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
  a {
    color: $dark-blue;
    text-decoration: none;
  }
}


.media-partner-container-grid {
  text-align: center;
  margin: 0 auto;
}

.media-partner-description, .media-partner-name{
  width: 100%;
}

.brand-logo-grid {
  margin-top: 3em;
  @media screen and (min-width: 800px){
    margin-top: 1em;
  }
}

.brand-grid-all {
  margin-top: 2em;
}

@media screen and (min-width: 600px){
  .brand-grid-all {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1000px){
  .brand-grid-all {
    grid-template-columns: 23% 23% 23% 23%;
  }
}

/* Next & previous buttons */
.owl-nav{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1000;
}

.owl-next, .owl-prev {
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -999999px;
  overflow: hidden;

  @media screen and (min-width: 600px){
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: 1000px){
    margin-left: 15px;
  }
}

.owl-next{
  float: right;
  margin-right: 0;
  background-image: url("../img/icons/arrow-left-orange.svg");
  transform: rotateY(180deg);
  @media screen and (min-width: 600px){
    opacity: .65;
    transition: .3s all ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

}
.owl-prev{
  float: left;
  margin-left: 0;
  background-image: url("../img/icons/arrow-left-orange.svg");
  @media screen and (min-width: 600px){
    opacity: .65;
    transition: .3s all ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
