header .cta-header a {
   padding: 10px 30px 11px 30px;
   font-family: $mont;
   letter-spacing: .3px;
   line-height: 1.4em;
   color: white;
   background-color: darken($light-blue,24%);
   transition: .4s;
   transition-timing-function: ease-in;
   transition-timing-function: ease-out;
   text-align: center;
   display: inline-block;
   width: inherit;
   margin: 0 auto;
   margin-top: 1em;
   text-transform: uppercase;
   font-weight: 600;
   font-size: .8em;
   margin-bottom: 1em;
   @media screen and (min-width: 900px) {
     margin-top: 1.7em;
     margin-bottom: inherit;
   }
   &:hover {
     background-color: $dark-blue;
     border-radius: 30px;
     transition-duration: .4s;
     transition-timing-function: ease-in;
     color: white;
   }
 }

.main-button {
  margin-top: .5em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
   padding: 13px 30px 16px 30px;
   font-family: $mont;
   font-size: .8em;
   letter-spacing: .3px;
   line-height: 1.4em;
   color: white;
   background-color: darken($light-blue,24%);
   border-color:none;
   border-width: 0;
   transition: .4s;
   transition-timing-function: ease-in;
   transition-timing-function: ease-out;
   text-align: center;
   text-decoration: none;
 }

.main-button:hover {
  background-color: $dark-blue;
  border-radius: 30px;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}

.main-button:active {
  background-color: rgb(209, 222, 34);
}

.main-button-center {
  margin: 0 auto;
}

.div-button {
  text-align: center;
}

//Square button used for visiting other pages outside of body copy
.secondary-button{
  background-color: $white;
  border-style: solid;
  border-color: $lime-green;
  border-width: 3px;
  font-family: $mont;
  color: $dark-blue;
  max-width: 500px;
  padding: .55em 1em;
  display: inline-block;
  font-size: .9em;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1em;
  transition: .3s background-color ease-in-out;
  margin-right:.5em;
  margin-left:.5em;
  &:hover, &:focus {
    background-color: $lime-green;
  }
}

.more-link {
  font-size: .8em;
  text-transform:uppercase;
  color: black;
  text-decoration: none;
  margin-top: 1em;
  display: inline-block;
  font-weight: 700;
  position: relative;
  padding-right: 1.5em;
  transition: .3s color ease-in-out;
  &:hover, &:focus {
    color: $dark-blue;
  }
  &:before {
    content: "Read More";
  }
  &:after {
    content: "";
    background-repeat: no-repeat;
    background-image: url(/assets/img/global/arrow-down.svg);
    background-size: 100% auto;
    background-position: center center;
    width: 12px;
    height: 12px;
    opacity: .8;
    top: 4px;
    right: 0;
    position: absolute;
  }
}

.more-link span {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.show-more .more-link:before {
  content: "Hide";
}

.show-more .more-link:after {
  transform: rotate(180deg) scaleX(-1);
}
