header .cta-header a {
   padding-top: 10px;
   padding-right: 30px;
   padding-bottom: 10px;
   padding-left: 30px;
   font-family: $mont;
   font-weight: 300;
   font-size: .9em;
   letter-spacing: .3px;
   line-height: 1.4em;
   color: white;
   background-color: $light-blue;
   transition: .4s;
   transition-timing-function: ease-in;
   transition-timing-function: ease-out;
   text-align: center;
   display: inline-block;
   width: inherit;
   margin: 0 auto;
   margin-top: 1em;
   @media screen and (min-width: 900px) {
     width: 80%;
     margin-top: 1.7em;
     padding: .5em;
   }
   &:hover {
     background-color: $dark-blue;
     border-radius: 30px;
     transition-duration: .4s;
     transition-timing-function: ease-in;
     color: white;
   }
 }

.main-button {
   padding: 10px 30px 10px 30px;
   font-family: $mont;
   font-weight: 300;
   font-size: 1em;
   letter-spacing: .3px;
   line-height: 1.4em;
   color: white;
   background-color: $light-blue;
   border-color:none;
   border-width: 0;
   transition: .4s;
   transition-timing-function: ease-in;
   transition-timing-function: ease-out;
   text-align: center;
 }

.main-button:hover {
  background-color: $dark-blue;
  border-radius: 30px;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}

.main-button:active {
  background-color: rgb(209, 222, 34);
}

.main-button-center {
}

//Square button used for visiting other pages outside of body copy
.secondary-button{
  background-color: $white;
  border-style: solid;
  border-color: $lime-green;
  border-width: 2.5px;
  font-family: $mont;
  cursor: pointer;
  color: $dark-blue;
  width: 200px;
  height: 50px;
  margin:10px;
  font-size: .9em;
}

.secondary-button:hover{
  //border-radius: 30px;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  background-color: $lime-green;
}
