header .cta-header a {
   padding: 10px 30px 11px 30px;
   font-family: $mont;
   letter-spacing: .3px;
   line-height: 1.4em;
   color: white;
   background-color: $light-blue;
   transition: .4s;
   transition-timing-function: ease-in;
   transition-timing-function: ease-out;
   text-align: center;
   display: inline-block;
   width: inherit;
   margin: 0 auto;
   margin-top: 1em;
   text-transform: uppercase;
   font-weight: 600;
   font-size: .8em;
   @media screen and (min-width: 900px) {
     margin-top: 1.7em;
   }
   &:hover {
     background-color: $dark-blue;
     border-radius: 30px;
     transition-duration: .4s;
     transition-timing-function: ease-in;
     color: white;
   }
 }

.main-button {
  margin-top: .5em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
   padding: 10px 30px 13px 30px;
   font-family: $mont;
   font-size: .8em;
   letter-spacing: .3px;
   line-height: 1.4em;
   color: white;
   background-color: $light-blue;
   border-color:none;
   border-width: 0;
   transition: .4s;
   transition-timing-function: ease-in;
   transition-timing-function: ease-out;
   text-align: center;
   text-decoration: none;
 }

.main-button:hover {
  background-color: $dark-blue;
  border-radius: 30px;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}

.main-button:active {
  background-color: rgb(209, 222, 34);
}

.main-button-center {
  margin: 0 auto;
}

.div-button {
  text-align: center;
}

//Square button used for visiting other pages outside of body copy
.secondary-button{
  background-color: $white;
  border-style: solid;
  border-color: $lime-green;
  border-width: 3px;
  font-family: $mont;
  color: $dark-blue;
  max-width: 200px;
  padding: 1em 1.75em;
  display: inline-block;
  font-size: .9em;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1em;
  transition: .3s background-color ease-in-out;
  &:hover, &:focus {
    background-color: $lime-green;
  }
}
