.event-container {
  background-color: red;
  border-style: solid;
  border-color: #c0c0c0;
}

.date-box {
  background-color: $mandarin;
}

.date-box {
  width: 100px;
  height: 150px;
  position: fixed;
    top: 30px;
    left: 15px;
}
.date-style {
  color: white;
  font-weight: 600;
  color: white;
  font-size: 3em;
  text-align: center;
  display: inline-block;
  position: fixed;
    top: -23px;
    left: 35px;
}

.date {
  border-bottom-style: solid;
  border-bottom-color: white;
  height: 100px;
}
.month {
  background-color: $mandarin;
  height: 40px;
}

.month-style {
  font-weight: 400;
  color: white;
  font-size: 2em;
  letter-spacing: .08em;
  text-align: center;
  display: inline-block;
  position: fixed;
    top: 87px;
    left: 29px;
}
.event {
  width: 300px;
  position: fixed;
    left: 120px;
}
.event-title{
  padding-left: 10px;
}

.event-words {
  font-size: .8em;
  padding-left: 10px;
  //max-width: 250px;
}
