/*.calender-container {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  //width: 450px;
  overflow: scroll;
}*/
.event-container {
  background-color: white;
  border-bottom-style: solid;
  border-color: #c0c0c0;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.date-box {
  background-color: $mandarin;
  //width: 400px;
  height: 150px;
  //display: inline-flex;
  position: relative;
    top: 30px;
    left: 15px;
}
.date-style {
  color: white;
  font-weight: 500;
  color: white;
  font-size: 3em;
  text-align: center;
  display: inline-block;
  position: relative;
    top: -50px;
    left: 20px;
}

.date {
  border-bottom-style: solid;
  border-bottom-color: white;
  height: 100px;
  width: 100px;
}
.month {
  background-color: $mandarin;
  height: 40px;
}

.month-style {
  font-weight: 400;
  color: white;
  font-size: 2em;
  letter-spacing: .08em;
  text-align: center;
  display: inline-block;
  position: relative;
    top: -45px;
    left: 14px;
}
.event {
  padding-left: 15px;
  padding-right: 10px;
  //width: 300px;
  //display: flex;
  //width: 80%;
  //position: fixed;
    //left: 120px;
}
.event-title{
  padding-left: 10px;
}

.event-words {
  font-size: .8em;
  padding-left: 10px;
  //max-width: 250px;
}

/*
.scroll-container{
  width: 80%;
  margin: 0 auto;
}*/
