.contact-info {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  margin-bottom: 2em;
}
.contact-call {
  width: 50%;
  text-align: left;
}

.contact-h4 {
font-size: 1.2em;
color: $dark-blue;
}

.contact-h4 {
  line-height: 1em;
}

.contact-p {
  margin-left: 0;
  line-height: 1em;
}

.circle-image-container {
  border-radius: 50%;
  background-color: black;
  width: 200px;
  height: 200px;
  overflow: hidden;
  }


  .contact-info-section-name {
    font-size: 1.3em;
    text-transform: uppercase;
    color: $dark-blue;
    margin-bottom: 0;
  }

  .contact-title-info-section {
    color: orange;
    margin-top: 0;
    letter-spacing: .1px;
    font-weight: 400;
  }

  .contact-info-section-info {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

  }

.contact-about-group {
  display: flex;
  flex-wrap: wrap;
  //width:48%;
}

.leader {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 48%;
}


  .light-blue-line {
    border-bottom: 15px solid $light-blue;
    margin-top: 15px;
    margin-left: -70px;
  }

  .contact-info-section {
    margin-left: 20px;
    width:40%;
  }

  .contact-info-about-leader {
    display: none;
  }

.contact-info-about-leader:hover {
    display: block;

  }

  .student-leader-contact {
    font-size: 1.3em;
    text-transform: uppercase;
    color: $dark-blue;
    margin-bottom: 0;
  }

  .student-leader-title {
    color: orange;
    margin-top: 0;
    letter-spacing: .1px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .student-leader-email{
    margin-top: 0;
  }

  .student-leader-container {
    @media screen and(min-width: 800px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .student-leader{
    @media screen and(min-width: 800px) {
      width: 50%;
    }
    @media screen and(min-width: 1000px) {
      width: 25%;
    }
  }

  .subhead-fix{
    margin-top: 40px;
  }

  @media screen and(min-width: 200px) {
    .circle-image-container {
      width: 150px;
      height: 150px;
      }

    .light-blue-line {
      border-bottom: none;
    }

    .leader{
      width: 100%;
    }
}

@media screen and(min-width: 800px) {
  .circle-image-container {
    width: 200px;
    height: 200px;
    }

    .leader {
      width: 49%;
      margin-top: 20px;
    }

  .light-blue-line {
    border-bottom: 13px solid #8ad1cf;
  }
}
