.contact-info {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
}
.contact-call {
  width: 50%;
  text-align: left;
  margin-left: 20px;
}

.contact-h4 {
font-size: 1.2em;
color: $dark-blue;
}

.contact-h4 {
  line-height: 1em;
}

.contact-p {
  margin-left: 0;
  line-height: 1em;
}

.contact-address {
  margin-left: 20px;

}
