.events-container{
  width: 80%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin: 0 auto;
  padding: 25px;
  background-color: $white;
  margin-bottom: -50px;
  position: relative;
  margin-top: 50px;
}

.events-div-flex-container{
  display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: $white;
}



.events-list{
  list-style-type: none;
  font-weight: $light;
  color: black;
  padding: 0;
}

.learn-more-button{
  margin-top: 75px;
}

.events-list-header{
  color: $dark-blue;
}

.events-list, .learn-more-button{
  margin: 5px;
}

.events-buttons{
  display: flex;
}

/*There is definitely a better way to do this*/
@media screen and (min-width: 432px){
  .events-buttons{
    padding-top: 130px;
  }
}
@media screen and (min-width: 591px){
  .events-buttons{
    padding-top: 25px;
  }
}
@media screen and (min-width: 760px){
  .events-buttons{
    padding-top: 130px;
  }
}
