footer{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: $dark-blue;
padding-top: 75px;

}

.left-box-footer, .right-box-footer{
  width: 50%;
}

@media screen and (min-width: 750px){
  .right-box-footer{
    width: 75%;
    display: flex;
    justify-content: space-around;
  }
  .bottom-box-footer{
    display: flex;
  }
  .left-box-footer{
    width: 25%;
  }
  .footer-content{
  }
}
.footer-logo-image{
  width: 100%;
  min-width: 200px;
}
.bottom-box-footer{
  width: 50%;
  padding-bottom: 2em;
  padding-top: 2em;
}

/* Footer font styles - change to variables when using SASS */
.footer-header{
  color: $lime-green;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: .2px;
}
.footer-list-item{
  font-family: $mont;
  color: $white;
  font-size: 13px;
  margin-bottom: 10px;
}

.footer-content-list{
  list-style-type: none;
  padding-left: 1em;
  margin-right: 1em;
}

.footer-logo-image{
  width: 60%;
  max-width: 300px;
}

/*Footer border*/
.footer-border{
  width: 100%;
  height: 5px;
  border-bottom-color: $white;
  border-bottom-style: solid;
  border-width: 2.5px;
  margin-left: 1em;
  margin-right: 1em;
}

.link{
  cursor: pointer;
  text-decoration: none;
  color: $white;
}

.footer-content-list{
  text-align: center;
}
