footer{
width: 100%;
background-color: $dark-blue;
padding-top: 75px;
margin-top: -50px;
position: relative;
z-index: 0;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-header {
  break-inside: avoid;
  margin-bottom: 0;
}

.footer-logo-image{
  width: 100%;
  min-width: 200px;
}
.bottom-box-footer{
  padding-bottom: 2em;
  padding-top: 2em;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 550px){
    display: inline-flex;
  }
}

.bottom-box-footer__container {
  margin: 0 auto;
  text-align: center;
}

/* Footer font styles - change to variables when using SASS */
.footer-header>.link {
  color: $lime-green;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .4px;
  margin-top: 1em;
  margin-bottom: .5rem;
  display:inline-block;
  width:100%;
}

footer .nav__level2 {
  margin-top: .5em;
  margin-bottom: 1em;
  display:inline-block;
}

.footer-list-item{
  font-family: $mont;
  color: $white;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
  display:inline-block;
  width:100%;
}

.footer-content-list{
  list-style-type: none;
  margin-left: 1em;
  margin-right: 1em;
  border-top: 2px solid white;
  padding-top: 1em;
  @media screen and (min-width: 550px){
    columns:2;
  }
  @media screen and (min-width: 750px){
    columns:3;
  }
}

// Fix the longer second list of Media Partners to display in two columns. //
.footer-content-list li:nth-child(2) .nav__level2 {
  @media screen and (min-width: 750px){
    display: inline-flex;
    width: 100%;
    flex-wrap:wrap;
    .footer-list-item{
      width: 50%;
    }
  }
}

.footer-logo-image{
  width: 60%;
  max-width: 300px;
  @media screen and (min-width: 550px){
    width: 80%;
  }
}

.footer-contact-list {
  @media screen and (min-width: 550px){
    text-align: left;
  }
}

/*Footer border*/
.footer-border{
  width: 100%;
  height: 5px;
  border-bottom-color: $white;
  border-bottom-style: solid;
  border-width: 2.5px;
  margin-left: 1em;
  margin-right: 1em;
}

.link{
  cursor: pointer;
  text-decoration: none;
  color: $white;
  transition: .3s underline ease-in-out;
  display: block;
  width: 100%;
  margin-bottom: .5rem;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.footer-content-list{
  text-align: center;
}
