.mediapartner-opening {
  margin-left: 20px;
  margin-bottom: 0;
  color: $dark-blue;
}

.job-opening {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
}

.FAQ-container {
  margin-left: 20px;
  margin-right: 20px;
}

.question {
margin-bottom: 0;
}

.app-button {
  margin-left: 0;
  display: block;
}

.answer {
  margin-top: 3px;
  margin-bottom: 0;
}

.mediapartner-type {
  //margin-left: 20px;
  margin-top: 10px;
}

.position-name {
  //margin-left: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}


.opening-description {
  margin-top: 7px;
  padding-right: 10px;
  margin-left: 0;
}
.contact {
  //margin-left: 20px;
  margin-bottom: 0;
}

.contact-name-title {
  margin-top: 7px;
  margin-left: 0;
  margin-bottom: 0;
}

.email {
    color: $mandarin;
    font-size: .9em;
    text-decoration: none;
    font-size: 200;
}

.job-opening-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-top: 2px black solid;
}

.job-opening-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 625px){
  /*.job-openings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }*/

  .FAQ-container {
    display: flex;
    flex-wrap: wrap;
  }
  .FAQ {
    width: 45%;
  }

  /*.mediapartner-section{
    width: 30%;
    margin: 0 auto;
  }
  .job-openings-container {
    display: flex;
    justify-content: space-between;
  }*/
}

@media screen and (min-width: 750px){
  .student-employee-container {
    display: flex;
    flex-wrap: wrap;
  }
  .mediapartner-name {
    width: 33%;
  }

  .position-name-contact-container {
    width:65%;
    display: flex;
  }

  .position-opening {
    width: 32%;
  }

  .position-contact {
    width: 32%;
  }
}


@media screen and (min-width: 800px){
  .news-stories-content{
    display: flex;
  }
  .news-story-description-container, .news-image-container{
    width: 50%;
  }

}
