.mediapartner-opening {
  margin-left: 20px;
  margin-bottom: 0;
  color: $dark-blue;
}

.job-opening {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;

}

.question {
margin-bottom: 0;
}

.answer {
  margin-bottom: 0;
  font-size: .9em;
}

.mediapartner-type {
  margin-top: 15px;
  font-size: 1.2em;
  color: $dark-blue;
  margin: 0;
  margin-bottom: .5em;
  padding: 0;
  a {
    color: $dark-blue;
  }
}

.mediapartner-contact {
  font-size: .85em;
  margin-bottom: .5em;
  font-style: italic;
  padding: 0;
  color: rgba(0,0,0,.7);
}

.position-name {
  //margin-left: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}

.position-opening {
  border-bottom: 1px solid #e9ebee;
  padding-bottom: .5em;
  margin-bottom: 1em;
  &:last-child {
    border-bottom: none;
  }
}

.opening-description {
  margin-top: 7px;
  margin-left: 0;
  font-size: .95em;
}
.contact {
  //margin-left: 20px;
  margin-bottom: 0;
}

.position-contact {
  .secondary-button {
    margin-bottom: .5em;
  }
}

.contact-name-title {
  margin-top: 7px;
  margin-left: 0;
  margin-bottom: 0;
}

.email {
    color: $mandarin;
    font-size: .9em;
    text-decoration: none;
    font-size: 200;
}

.job-opening-container {
  border-top: 2px black solid;
  padding-top: 2em;
  padding-bottom: .5em;
}

.job-opening-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.FAQ {
  margin-bottom: 2.5em;
}

.mediapartner-name {
  p {
    margin-top: 0;
  }
}

@media screen and (min-width: 625px){

  .FAQ-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .FAQ {
    width: 46%;
  }
}

@media screen and (min-width: 750px){
  .student-employee-container {
    display: flex;
    flex-wrap: wrap;
  }
  .mediapartner-name {
    width: 30%;
  }

  .position-name-contact-container {
    width:65%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }

  .position-opening {
    flex-wrap: wrap;
  }
}



@media screen and (min-width: 800px){
  .news-stories-content{
    display: flex;
  }
  .news-story-description-container, .news-image-container{
    width: 50%;
  }
}

.more-text {
  max-height: 6.5em;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
  position: relative;
  &:before {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #fff 100%);
    background-size: 100% auto;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .show-more & {
    max-height: 1000px;
    &:before {
      background-image: none;
    }
  }
}
