h1 {
  color: $dark-blue;
}

/*Page Header*/
.page-header{
  background-color: $dark-blue;
  width: 100%;
  margin-left: -1em;
  width: calc(100% + 2em);
  margin-top: -1em;
  padding: 1em;
  margin-bottom: 2em;
  @media screen and (min-width: 800px) {
    padding: 1em 2em;
    margin-left: -2em;
    width: calc(100% + 4.05em);
  }
}

.first-word {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: $lime-green;
  display:inline-block;
  text-transform: uppercase;
}

.head-line {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3em;
    font-weight: 300;
    color: white; /*turn to $lime-green*/
    display:inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }


  .subhead {
    margin-top: 20px;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    position: relative;
    margin-bottom: 1em;
    font-size: 1.5em;
    letter-spacing: .25px;
    text-transform: uppercase;
  }

  .first-subhead {
    padding-top: 50px;
  }

  .subhead::before{
    height: 100%;
    width: 45px;
    content: '';
    display:block;
    background: $lime-green;
    position: absolute;
    bottom: 0;
    left: -2.15em;
    @media screen and (min-width: 800px) {
      left: -2.5em;
    }
  }


.intro-sentence-header {
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: $mandarin;
  margin-top: .5em;
  line-height:1.2;
  text-transform: uppercase;
  @media screen and (min-width: 800px) {
    font-size: 1.8em;
  }
}



.general-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: orange; /*turn to $lime-green*/
  letter-spacing: .1px;
  text-transform: uppercase;
  margin-bottom: 5px;;
}

.page-header--no-image {
  margin-top: 0;
}

@media screen and(max-width: 550px){

.head-line {
    font-size: 1.5em;
  }
}
