.header-container {
  max-width: 1500px;
  position:relative;
  margin: 0 auto;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: 1em;
  padding-right: 1.75em;
  @media screen and (min-width: 800px) {
    width: 93%;
    padding-left: inherit;
    padding-right: inherit;
  }
}

header{
  background-color: $white;
  z-index: 200;
  width: 100%;
}

.header-nav-container{
  position: absolute;
  right: 30px;
  top: 30%;
}


.nav-trigger{
  margin-left: 10px;
  background-color: $white;
  border-style: none;
  padding: .35em;
  font-size: .9em;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  letter-spacing: .5px;
  border-radius: 3px;
  &:after {
    content: "";
    background-repeat: no-repeat;
    background-image: url(/assets/img/global/arrow-down.svg);
    background-size: 100% auto;
    background-position: center center;
    width: 12px;
    height: 12px;
    opacity: .8;
    top: 10px;
    right: -17px;
    position: absolute;
  }
}

.header-logo{
  width: 150px;
  margin-top: .25em;
  margin-bottom: .25em;
  @media screen and (min-width: 400px) {
    width: 175px;
  }
}

.header-logo__condensed {
  display: none;
}

.nav-trigger.open {
  transition: .3s all ease-in-out;
}

.nav-trigger.close {
  z-index: 1000;
  position: relative;
  background-color: $dark-blue;
  color: white;
}

// Disable scrolling when menu is open //
body.menu-open {
  overflow: hidden;
}

// This is where the actual menu text comes from.  This could be changed to anything, including an icon.//
/*.nav-trigger:after {
  content:"Menu";
}

// Changes the menu button to a Close button //
.nav-trigger.close:after {
  content:"Close";
}
*/
header nav.out {
  pointer-events: none;
}

header nav.in {
  pointer-events: auto;
}

header nav.in {
	top: 80px;
	opacity: 1;
  padding-bottom: 90px;
  overflow: scroll;
  height: 100%;
}

header  nav.in li {
  opacity: 1;
}

header nav li a {
  width: 100%;
  left: 0;
  text-align: center;
  text-decoration: none;
  color: $dark-blue;
}

header nav {
  width: 100%;
  position: fixed;
  z-index: 90;
  top: -150vh;
  height: 100vh;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  background-color: white;
  left: 0;
}

header nav>ul {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: scroll;
  font-weight: 500;
}

header nav>ul>li {
  position: relative;
  border-bottom-style: solid;
  border-bottom-color: $dark-blue;
  border-bottom-width: .5px;
  padding: 0;
  text-align: center;
  &:last-child {
      border: none;
  }
}

header nav li>a {
  padding: 2em;
  display: block;
}

header .nav>li.has-children > a:after {
      width: 15px;
      height: 15px;
      content: "";
      background-image: url(/assets/img/global/arrow-down.svg);
      background-size: 100% auto;
      background-repeat: no-repeat;
			position: absolute;
			top: 2.5em;
			right: 10%;
			display: block;
      transition: .1s transform ease-in-out;
		}

header li.has-children > a.active:after {
    transform: rotate(180deg) scaleX(-1);
    top: 2.3em;
}

header .nav__level2 {
  background-color: $light-blue;
  padding-left: 1em;
  padding-right: 1em;
  li>a {
    padding: .75em 0 .75em 0;
    text-align: center;
  }
}

header  .nav__level2 {
  max-height: 0;
  overflow: hidden;
  display: block;
  margin-left: 0;
  list-style-type: none;
  transition: max-height 0.3s ease-in-out;
}

.nav__level2>.has-children {
  font-weight: 700;
  >a {
    display: block;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: .5em;
    padding-bottom: .75em;
    position: relative;
    letter-spacing: .02em;
    &:hover, &:focus {
      font-weight: 700;
    }
    &:after {
      transform: rotate(270deg);
      right: .25em;
      content: " ";
      top: 32%;
      right: 0;
      width: 10px;
      height: 10px;
      background-image: url(/assets/img/global/arrow-down.svg);
      background-size: 100% auto;
      background-repeat: no-repeat;
      position: absolute;
    }
  }
}

header  .nav__level2.active {
		max-height: 55em;
}

header .nav__level3 {
  margin-left: 0;
  list-style-type: none;
  padding-left: 0;
}

@media screen and (min-width: 900px){

  header  ul.nav__level2 {
				max-height: 0;
				overflow: hidden;
				background: none;
        opacity: 0;
        transition: .1s opacity ease-in-out;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: .75em;
        padding-bottom: .75em;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
	}

  header .nav__level2 li>a {
    padding: .5em 0 .5em 0;
  }

  header .dual-column ul.nav__level2 {
    width: 30em;
  }

  header li.has-children > a.active:after {
      content: "";
      top: 60%;
      transform: inherit;
  }

  header nav.in {
  	top: inherit;
  }

  .header-logo-container{
    text-align: left;
  }

  header li.has-children > a {
    padding-right:.5em;
  }

  header .nav>li.has-children > a:after {
    right: .25em;
    top: 60%;
    width: 10px;
    height: 10px;
    content: "";
    background-image: url(/assets/img/global/arrow-down.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  header  .nav__level2.active {
        opacity: 1;
        max-height: 50em;
	}

  header nav ul.nav__level2 {
    position: absolute;
		top: 4.5em;
		left: 0;
		width: 15em;
    background-color: rgba($light-blue,.98);
    text-align: left;
    list-style-type: none;
    a:hover, a:focus {
      font-weight: 500;
    }
  }

  .dual-column ul.nav__level3 {
    display: flex;
    flex-wrap: wrap;
    a {
      text-align: left;
    }
  }

  header nav{
    top: inherit;
    height: inherit;
    width: 80%;
    position: relative;
    margin: inherit;
    display: flex;
    align-items: center;
    margin-left: 1em;
    padding-right: inherit;
    padding: 0;
    margin-top: 0;
  }

  header nav.out {
    pointer-events: inherit;
  }

  header nav>ul>li{
    border-top: 3px solid $dark-blue;
    border-bottom: none;
    font-size: .8em;
    padding-top: .5em;
    padding-left: inherit;
    padding-right: inherit;
    flex: inherit;
    flex-grow: 2;
    text-align: center;
    transition: .3s border-color ease-in-out;
    position: relative;
    margin: 0 1px;
    @media screen and (min-width: 1000px) {
      font-size: .9em;
    }
    @media screen and (min-width: 1300px) {
      font-size: .95em;
    }
    &:hover, &.active {
      border-color: $lime-green;
    }
    &:last-child {
      border-top: none;
      margin-left: 3em;
      padding-top: 0;
      &:hover {
        color: inherit;
      }
    }
  }

  header .nav__level2>li {
    padding-top: 0;
    font-size: .9em;
  }

  header .dual-column .nav__level3>li {
    width: 50%;
  }

  header .nav__level2>li>a {
    text-align: left;
    padding:.5em 0 .5em 0;
  }

  .header-logo-container {
    width: 20%;
    .header-logo {
      width: auto;
      max-width: 250px;
    }
  }

  .header-nav-container{
    display: none;
  }

  header nav li a {
    position: relative;
    top: inherit;
    margin: inherit;
    text-decoration: none;
    color: $dark-blue;
    transition: .3s color ease-in-out;
    padding: 1.5em 0 .5em 0;
  }


  header nav ul{
    flex-flow: row;
    align-content: space-between;
    overflow: inherit;
    height: auto;
  }

  .header-container {
    display: flex;
    justify-content: space-around;
    padding: .5em;
  }

}

@media screen and (min-width: 1200px){
  header nav>ul>li{
    padding-top: .2em;
    }
  header nav {
    margin-left: 3em;
  }
  header li.has-children > a:after {
    right:.5em;
  }
  .header-logo-container {
    width: 23%;
  }
}
