/*Page Header*/
.page-header{
  background-color: $dark-blue;
  width: 100%;
}

.first-word {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  color: #d1de44; /*turn to $lime-green*/
  margin-left: 20px;
  display:inline-block;
  text-transform: uppercase;
}

.head-line {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: white; /*turn to $lime-green*/
    margin-left: 20px;
    display:inline-block;
    text-transform: uppercase;
  }


  .subhead {
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 8px;
    margin-top: 0px;
    font-weight: 400;
    line-height: 1em;
    display: block;
    position: relative;
    margin-bottom: 0px;
  }

  .subhead::before{
    height: 18px;
    width: 40px;
    content: '';
    display:block;
    background: $lime-green;
    position: absolute;
    bottom: 10px;
    left: -30px;
    //display: inline-block;
  }


.intro-sentence-header {
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 20px;
  color: $mandarin;

}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  font-weight: 300;
  line-height: 1.6em;
  margin-left: 20px;
  //width: 50%;
}



.general-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: orange; /*turn to $lime-green*/
  letter-spacing: .1px;
  text-transform: uppercase;
}
