header{
  background-color: $white;
  z-index: 200;
  position:relative;
}

.header-nav-container{
  position: absolute;
}


.nav-trigger{
  margin-left: 10px;
  margin-top: 10px;
  background-color: $white;
  border-style: none;
  border: 2px solid $dark-blue;
  padding: .25em .5em .35 .5em;
  font-size: .9em;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  border-radius: 3px;
}

.header-logo-container{
  text-align: center;
}

.header-logo{
  width: 175px;
}

.header-logo__condensed {
  display: none;
}

.nav-trigger.open {
  transition: .3s all ease-in-out;
}

.nav-trigger.close {
  z-index: 1000;
  position: relative;
}

// This is where the actual menu text comes from.  This could be changed to anything, including an icon.//
/*.nav-trigger:after {
  content:"Menu";
}

// Changes the menu button to a Close button //
.nav-trigger.close:after {
  content:"Close";
}
*/
header nav.out {
  pointer-events: none;
}

header nav.in {
  pointer-events: auto;
}

header nav.in {
	top: 0;
	opacity: 1;
}

header  nav.in li {
  opacity: 1;
}

header nav li a {
  width: 100%;
  left: 0;
  text-align: center;
  text-decoration: none;
  color: $dark-blue;
}

header nav {
  width: 100%;
  position: fixed;
  z-index: 90;
  top: -150vh;
  height: 100vh;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  background-color: white;
}

header nav>ul {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: scroll;
}

header nav>ul>li {
  position: relative;
  border-bottom-style: solid;
  border-bottom-color: $dark-blue;
  border-bottom-width: .5px;
  padding: 0;
  text-align: center;
  &:last-child {
      border: none;
      margin-top: 2em;
  }
}

header nav li>a {
  padding: 2em 0;
  display: block;
}

header li.has-children > a:after {
			content: '+';
			position: absolute;
			top: .75em;
			right: 0;
			display: block;
			font-size: 1.5em;
			padding: 0.25em 0.5em;
		}

header li.has-children > a.active:after {
    content: "-";
}

header .nav__level2 {
  background-color: $light-blue;
  li>a {
    padding: .5em 0;
  }
}

.js header  .nav__level2 {
  max-height: 0;
  overflow: hidden;
  display: block;
  margin-left: 0;
  padding-left: 0;
  transition: all 0.3s ease-in-out;
}

.js header  .nav__level2.active {
			max-height: 55em;
}

@media screen and (min-width: 800px){


  .js header  ul.nav__level2 {
				max-height: 0;
				overflow: hidden;
				background: none;
        transition: .3s max-height ease-in-out;
	}

  header li.has-children > a:after {
    right: -1em;
    top: 4em;
    content: "▼";
    font-size: .5rem;
  }

  header li.has-children > a.active:after {
    content: "▼";
  }

  .js header nav ul li:hover > ul {
				display: block;
        list-style-type: none;
        max-height: 50em;
	}

  .js header nav .nav__level2 {
    position: absolute;
		top: 5em;
		left: 0;
		width: 12em;
    background-color: $light-blue;
    text-align: left;
  }

  header nav{
    top: inherit;
    height: inherit;
    width: 75%;
    position: relative;
    margin: inherit;
    display: flex;
    align-items: center;
    margin-left: auto; // This pushes the nav to the right
    padding-right: inherit;
  }

  header nav.out {
    pointer-events: inherit;
  }

  header nav>ul>li{
    border-top: 3px solid $dark-blue;
    border-bottom: none;
    font-size: .9em;
    padding-top: .5em;
    padding-left: inherit;
    padding-right: inherit;
    flex: 1;
    flex-grow: 2;
    text-align: center;
    transition: .3s border-color ease-in-out;
    position: relative;
    &:hover {
      border-color: $lime-green;
    }
    &:last-child {
      border-top: none;
      margin-left: 1em;
      margin-top:1em;
      padding-top: 0;
      &:hover {
        color: inherit;
      }
    }
  }

  header .nav__level2 li {
    display: block;
  }

  header .nav__level2 li a {
    text-align: left;
    padding:1em;
  }

  .header-logo-container {
    width: 20%;
    .header-logo {
      width: auto;
      max-width: 250px;
    }
  }

  .header-nav-container{
    display: none;
  }

  header nav li a {
    position: relative;
    top: inherit;
    margin: inherit;
    text-decoration: none;
    color: $dark-blue;
    transition: .3s color ease-in-out;
  }


  header nav ul{
    flex-flow: row;
    align-content: space-between;
    overflow: inherit;
  }

  header{
    display: flex;
    justify-content: space-around;
    padding: .5em;
  }

}

@media screen and (min-width: 1000px){
  header nav>ul>li{
    font-size: 1em;
    padding-top: .2em;
    }
}
