/*Page Header*/
.page-header{
  background-color: $dark-blue;
  width: 100%;
}

.first-word {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $lime-green;
  display:inline-block;
}

.head-line {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3em;
    font-weight: 300;
    color: white; /*turn to $lime-green*/
    margin-left: 20px;
    display:inline-block;
    text-transform: uppercase;
  }


  .subhead {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 8px;
    margin-top: 0px;
    font-weight: 400;
    line-height: 1em;
    display: block;
    position: relative;
    margin-bottom: 15px;
  }

  .first-subhead {
    padding-top: 50px;
  }

  .subhead::before{
    height: 18px;
    width: 40px;
    content: '';
    display:block;
    background: $lime-green;
    position: absolute;
    bottom: 10px;
    left: -30px;
    //display: inline-block;
  }


.intro-sentence-header {
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 20px;
  padding-top: 20px;
  color: $mandarin;

}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  font-weight: 300;
  line-height: 1.6em;
  /*margin-left: 20px;*/
}

.intro-paragraph {
  max-width: 100%;
  margin-right: 15px;
  font-size: .9em;
  line-height: 1.7em;
}

.general-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: orange; /*turn to $lime-green*/
  letter-spacing: .1px;
  text-transform: uppercase;
  margin-bottom: 5px;;
}

.page-header--no-image {
  margin-top: 0;
}

.intro-paragraph{
  margin: 20px;
}

@media screen and(max-width: 550px){
.first-word {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: #d1de44;
  margin-left: 20px;
  display:inline-block;
  text-transform: uppercase;
}

.head-line {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    margin-left: 20px;
    display: inline-block;
    padding-left: -5px;
    text-transform: uppercase;
    -webkit-margin-start: 10px;
    padding-top: -50px;
  }
}

@media screen and(min-width: 700px){

    .intro-paragraph {
      max-width: 90%;
      margin-right: 15px;
      font-size: 1em;
      line-height: 1.7em;
}
}


@media screen and(min-width: 900px){

    .intro-paragraph {
      max-width: 80%;
      margin-right: 15px;
      font-size: 1em;
      line-height: 1.7em;
}
}

@media screen and(min-width: 1100px){

    .intro-paragraph {
      max-width: 70%;
      margin-right: 15px;
      font-size: 1em;
      line-height: 1.7em;
}
}
