header{
  background-color: $white;
}

.header-nav-container{
  position: absolute;
}

.nav-trigger{
  margin-left: 5px;
  margin-top: 5px;
  background-color: $white;
  border-style: none;
  border-color: none;
}
.header-logo-container{
  text-align: center;
}

.header-logo{
  width: 200px;
}

.nav-trigger.open {
  transition: .3s all ease-in-out;
}

.nav-trigger.close {
  z-index: 1000;
  position: relative;
}

// This is where the actual menu text comes from.  This could be changed to anything, including an icon.//
/*.nav-trigger:after {
  content:"Menu";
}

// Changes the menu button to a Close button //
.nav-trigger.close:after {
  content:"Close";
}
*/
nav.out {
  pointer-events: none;
}

nav.in {
  pointer-events: auto;
}

nav.in {
	top: 0;
	opacity: 1;
}

nav.in li {
  opacity: 1;
}

.nav-label {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: 50%;
	margin-top: -8px;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: -100%;
  margin-top: 13vh;
  height:  85vh;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

nav ul {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav li {
  flex: 1;
  position: relative;
  background: $gray;
  color: $dark-blue;
}

@media screen and (min-width: 800px){

  nav{
    top: inherit;
    height: inherit;
    width: 65%;
    position: relative;
    margin: inherit;
    display: flex;
    align-items: center;
    margin-left: auto; // This pushes the nav to the right
    padding-right: 15px;
  }

  nav li{
    background-color: $white;
  }

  .header-logo{
    width: 250px;
  }

  .header-logo-container {
    width: 25%;
  }

  .header-nav-container{
    display: none;
  }

  .nav-label {
    position: relative;
    top: inherit;
    margin: inherit;
  }

  nav ul{
    flex-flow: row;
    align-items: center;
    vertical-align: middle;
  }

  header{
    display: flex;
    justify-content: space-around;
  }

}
