 .hero-image-home{
  -webkit-filter: grayscale(100%);
  width: 100%;
  position: relative;

  /*max-height: 700px; We can make this a background image and use nackground-image:contain?*/
}
.header-quote {
  width: 50%;
  position: absolute;
    top: 50px;
    left: 60px;
}

.hero-image-caption {
  font-family:'Montserrat', sans-serif;
  font-size: 24px;
  letter-spacing: 1.3px;
  line-height: 1.3em;
  color: rgb(209, 222, 34);
  background-color: $dark-blue; /*change to dark blue*/
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  /*Should probably think of a better solution for this - follow up with Chris*/

}

@media screen and(min-width: 650px){
  .hero-image-caption{
    font-size: 2em;
  }
  .header-quote {
      top: 100px;
    }
}

@media screen and (min-width: 785px){
  .hero-image-caption{
    font-size: 3em;
}
.header-quote {
    top: 200px;
  }
}

.hero-image{
  width: 100%;
  height: 750px;
}
