 .home-carousel{
  max-width: 100%;
  img {
    max-width: 100%;
  }
}

  .secondary-image {
   width: 100%;
   position: relative;
}

.secondary-hero-image {
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.header-quote-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20%;
  @media screen and(min-width: 400px){
    bottom: 18%;
  }
  @media screen and(min-width: 450px){
    bottom: 16%;
  }
  @media screen and(min-width: 800px){
    bottom: 20%;
  }
  @media screen and(min-width: 1200px){
    bottom: 19%;
  }
}

.header-quote {
  max-width: 1200px;
  z-index: 3;
  width: 100%;
  @media screen and(min-width: 800px){
    bottom: 10%;
    width: 93%;
  }
  @media screen and(min-width: 1200px){
    width: 80%;
  }
}

.hero-image-caption {
  font-family:'Montserrat', sans-serif;
  font-size: 1.1em;
  letter-spacing: 1.3px;
  line-height: 1.2;
  color: white;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 500;
  @media screen and (min-width: 400px) {
      font-size: 1.3em;
  }
  @media screen and (min-width: 450px) {
      font-size: 1.5em;
  }
  @media screen and (min-width: 700px) {
      font-size: 2em;
  }
  @media screen and (min-width: 1000px) {
      font-size: 2.5em;
  }
  @media screen and (min-width: 1300px) {
      font-size: 2.8em;
  }
}

.hero-image-caption__level {
  background-color: rgba($dark-blue,.85);
  padding: .15em .5em .25em .7em;
  display: inline-block;
  float:left;
  clear:both;
  @media screen and (min-width: 800px) {
    padding: 0 .5em .1em .7em;
  }
}

.animation .hero-image-caption__level {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  &:nth-child(2) {
    animation-delay: .35s;
  }
  &:nth-child(3) {
    animation-delay: .65s;
  }
}

.hero-image-partners {
  color: white;
  font-weight: 600;
  font-size: .5em;
  margin-top: 1em;
  display: block;
  clear: left;
  float: left;
  max-width: 800px;
  padding-left: 1.5em;
  padding-right: 1em;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
  letter-spacing: .75px;
  @media screen and (min-width: 400px) {
      font-size: .6em;
  }
  @media screen and (min-width: 450px) {
    font-size: .7em;
  }
  @media screen and (min-width: 800px) {
      padding-left: 1.9em;
      font-size: .9em;
      max-width: 800px;
  }
  @media screen and (min-width: 1200px) {
      padding-left: 2.25em;
      font-size: .95em;
      line-height: 1.7;
      margin-top: 1.25em;
      max-width: 1000px;
  }
}

.hero-image-partners__name {
  &:after {
    content: "/";
    margin-left: 10px;
    margin-right: 5px;
    color: $lime-green;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}

.hero-image{
  //width: 100%;
  position: relative;
  max-height: 600px;
  overflow: hidden;
  min-height: 400px;
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-fill-mode: both;
  background-color: black;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  @media screen and(min-width: 1200px){
    max-height: inherit;
  }
}

@media screen and(min-width: 850px){

  .secondary-hero-image {
    max-height: 500px;
    overflow: hidden;
    min-height: 300px;
    background-color: black;
  }
  .hero-image {
    min-height: 400px;
  }
}
