/*.media-partner-contact-container, .media-partner-about-container, .media-partner-social-media-container, .media-partner-events-container{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}*/

.media-partner-about-blurb{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-bottom: 30px;
}

.social-media-icon{
  width: 50px;
}

.media-partner-events-container{
  height: 500px;
}

.media-partner-events-container{
  margin-top: -25px;
  margin-bottom: 40px;
  position: relative;
}

.media-partner-about-container{
  margin-top: -50px;
  position: relative;
}

.media-partner-conact-container{
  margin-top: -50px;
  position: relative;
}

.media-partner-contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.student-contact, .department-contact {
  width: 75%;
  margin: 0 auto;
  //padding: 2px 0 10px 0;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: $lime-green;
  border-bottom-width: 4px;
}

.contact-name{
  text-transform: uppercase;
  color: $dark-blue;
  letter-spacing: 0.5px;
  font-size: 20px;
  -webkit-margin-after: 0em;
}

.student-leader-name{
  color: $mandarin!important;
}
.contact-title{
  color: $mandarin;
  font-weight: 400;
  font-size: 14px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
}

.contact-email, .contact-phone{
  font-size: 14px;
  font-weight: $light;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.contact-name, .contact-title, .contact-email, .contact-phone{
  text-align: center;
  margin-top: 0;
}

.student-contact, .department-contact{
  padding-top: 15px;
  padding-bottom: 15px;
  //margin-bottom: 0;
}

.button-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.media-partner-button {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 14px;
}

.logo-about-page {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -20px;
  width: 200px;
}

@media screen and (min-width: 500px) {

.button-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 20px;
}
}

@media screen and (min-width: 500px) {
  .media-partner-into-container {
    display: flex;
  }
  .logo-about-page {
    width: 30%;
    margin-top: 100px;
  }

  .title-paragraph-container{
    width: 70%;
  }
}

@media screen and (min-width: 850px) {

.media-partner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .media-partner-container {
    margin-top: 0;
    //padding-bottom: 25px;
  }

.student-contact, .department-contact {
  border: none;
  width: 32%;
  flex-direction: row;
  border-bottom-style: none;
  border-right-style: solid;
  border-right-color: $lime-green;
  border-right-width: 4px;
  margin-bottom: 50px;
}

.social-media {
  border-bottom: none;
  width: 32%;
  flex-direction: row;
  //padding-bottom: 0;
}
}

/*
.social-media-container{
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color: $white;
}*/
