.media-partner-contact-container, .media-partner-about-container, .media-partner-social-media-container, .media-partner-events-container{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.media-partner-about-blurb{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-media-icon{
  width: 50px;
}

.media-partner-events-container{ /*Remove once filled with content*/
  height: 500px;
}

.media-partner-events-container{
  margin-bottom: -50px;
  position: relative;
}

.media-partner-about-container{
  margin-top: -50px;
  position: relative;
}
/*.media-partner-contact-caption::before{
  content: '';
  display:block;
  height: 5px;
  background: $lime-green;
  width: 100%;
}*/

.media-partner-contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.student-contact, .department-contact {
  width: 75%;
  margin: 0 auto;
  padding: 2px 0 10px 0;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: $lime-green;
  border-bottom-width: 6px;
}

.contact-name{
  text-transform: uppercase;
  color: $dark-blue;
  letter-spacing: 0.5px;
  font-size: 20px;
  -webkit-margin-after: 0em;
}

.contact-title{
  color: $light-blue;
  font-weight: $light;
  font-size: 16px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
}

.contact-email, .contact-phone{
  font-size: 14px;
  font-weight: $light;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.contact-name, .contact-title, .contact-email, .contact-phone{
  text-align: center;
}

.media-partner-events-container {
  height: 600px;
}

@media screen and (min-width 900px) {
.media-partner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  margin: 0 auto;
  //flex-wrap: wrap;
}

.student-contact {
  border: none;
  max-width: 30%;
  flex-direction: row;
}
.department-contact {
  max-width: 30%;
  flex-direction: row;
}
.social-media {
  border-bottom: none;
  max-width: 30%;
  flex-direction: row;
}
}
