
.media-partner-contact-container, .media-partner-about-container, .media-partner-social-media-container, .media-partner-events-container{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.social-icon{
  //border-style: solid;
  max-height: 100px;
}
.media-partner-about-blurb{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.social-media-icon{
  width: 32%;
  height: 100px;
  margin-top:15px;
  margin-bottom: 15px;
}

.social-media-flex-container{
  display: flex;
  justify-content: space-around;
}

.media-partner-contact-container, .media-partner-events-container{ /*Remove once filled with content*/
  height: 500px;
}

.media-partner-events-container{
  margin-bottom: -50px;
  position: relative;
}
.media-partner-about-container{
  margin-top: -50px;
  position: relative;
}
.media-partner-contact-caption::after{
  content: '';
  display:block;
  width: 75%;
  height: 10px;
  background: $lime-green;
}
//start of Kelsey's code...Jesus take the wheel
.email {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

figcaption.media-partner-contact-caption {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
}

.media-partner-contact-title {
  color: $light-blue;
  line-height: 2.5em;
  font-size: 1em;
}
.contact-picture{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
}


//end

@media screen and (min-width 800px){
  .social-media-icon{
    float: left;
  }

  .media-partner-social-media-container{
    display: inline;
  }

.media-partner-contact {
    display: inherit;
    align-content: center;
  }


}

@media screen and(min-width 600px){
  .media-partner-contact{
    //display: flex;
  }
}
