.media-partner-about-blurb{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.social-media {
  margin: 0 auto;
  padding-top: 10px;
}

.supplemental {
  h4 {
    margin-bottom: .5em;
  }
  @media screen and (min-width: 800px) {
    width: 30%;
    margin-left: 2em;
  }
}

.supplemental-links {
  margin-top: 0;
  list-style: none;
  padding: 0;
  padding-left: .5em;
  li {
    margin-bottom: .25em;
  }
  li:before {
    margin-right: .5em;
    font-size: 1.2em;
    content: "\25AA";
    color: $mandarin;
  }
  a {
    text-decoration: none;
  }
}

.social-media__icons {
  display: flex;
  flex-wrap: wrap;
    margin-left:-10px;
}

.social-media-icon{
  width: 50px;
}

.media-partner-events-container{
  margin-top: -25px;
  margin-bottom: 40px;
  position: relative;
}

.media-partner-contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.student-contact, .department-contact {
  margin: 0 auto;
  //padding: 2px 0 10px 0;
  border-bottom-style: solid;
  border-bottom-color: $lime-green;
  border-bottom-width: 2px;
}

.contact-title{
  color: black;
  font-weight: 300;
  font-size: 14px;
}

.contact-label {
  display: none;
}

.contact-email, .contact-phone{
  font-size: 14px;
  font-weight: $light;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  a {
    color: $dark-blue;
    font-weight: 500;
    text-decoration: none;
  }
}

.contact-name, .contact-title, .contact-email, .contact-phone{
  margin-top: 0;
  margin-bottom: .25em;
}

.contact-list {
  margin: 0;
  padding: 0;
}

.contact-email, .contact-email a {
  color: $dark-blue;
  font-weight: 500;
  margin-bottom: 1em;
  text-decoration: none;
}

.contact-name{
  text-transform: uppercase;
  color: $dark-blue;
  letter-spacing: 0.5px;
  font-size: .9em;
  margin-top: .75em;
  margin-bottom: 1.25em;
  line-height: 1.2;
}

.contact-leader {
  font-weight: 700;
  margin-bottom: .25em;
  margin-top: .75em;
  font-size: 1.1em;
}

.student-contact, .department-contact{
  padding-bottom: 25px;
  padding-top: 10px;
  &:first-child {
    padding-top: 2px;
  }
}

.button-section {
  display: flex;
  flex-direction: column;
}

.media-partner-button {
  margin-right: 7px;
}

.logo-about-page {
  margin-top: 20px;
  width: 200px;
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {

.button-section {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
}

@media screen and (min-width: 700px) {
  .media-partner-into-container {
    display: flex;
  }
  .logo-about-page {
    width: 30%;
    margin-top: 25px;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
  }

  .title-paragraph-container{
    width: 70%;
  }
}

.social-media__icon {
  background-image: url('../img/icons/web.svg');
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  text-indent: -10000px;
  overflow: hidden;
  margin-right: 8px;
  &.facebook {
    background-image: url('../img/icons/facebook.svg');
  }
  &.twitter {
    background-image: url('../img/icons/twitter.svg');
  }
  &.instagram {
    background-image: url('../img/icons/instagram.svg');
  }
  &.linkedin {
    background-image: url('../img/icons/linkedin.svg');
  }
  &.snapchat {
    background-image: url('../img/icons/snapchat.svg');
  }
  &.youtube {
    background-image: url('../img/icons/youtube.svg');
  }
  &.flickr {
    background-image: url('../img/icons/flickr.svg');
  }
  &.vimeo {
    background-image: url('../img/icons/vimeo.svg');
  }
  &.tumblr {
    background-image: url('../img/icons/tumblr.svg');
  }
}

@media screen and (min-width: 850px) {

  .contact-name {
    margin-top: 0;
  }

  .contact-email {
    margin-bottom: 0;
    margin-right: .5em;
    a {
      word-break: break-word;
      padding-right: .5em;
    }
  }

  .media-partner-contact-container {
    width: 95%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    div:last-child {
      border-right: none;
    }
  }

  // This is the styles for the carousel on the home page //
  .media-partner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .student-contact, .department-contact {
    border: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-right-color: $lime-green;
    border-right-width: 3px;
    padding-top: 0;
    padding-bottom: 0;
    margin: inherit;
    margin-left:0;
    padding-right: 1.5em;
    &:first-child {
      padding-top: 0;
    }
  }

  .social-media {
    border-bottom: none;
    flex-direction: row;
    padding-right: 0;
    margin-left: 0;
  }
}
