.mission-container{
  margin: 0 auto;
  width: 80%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: $white;
  margin-top: -50px;
  position: relative;
  background-color: $white;
}
.mission-blurb{
  margin-top: 25px;
  color: black;
  font-weight: $light;
}
