/*Buttons*/
.main-button {
   padding: 10px 30px 10px 30px;
   background-color: blue;
   font-family: $mont;
   font-weight: 300;
   font-size: 1em;
   letter-spacing: .3px;
   line-height: 1.4em;
   color: white;
   background-color: $light-blue;
   border-color:none;
   border-width: 0;
   transition: .4s;
   transition-timing-function: ease-in;
   transition-timing-function: ease-out;
   height: 50px;
   width: 170px;
   text-align: center;
 }

.main-button:hover {
  background-color: $dark-blue;
  border-radius: 30px;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}

.main-button:active {
  background-color: rgb(209, 222, 34);
}


/*End Buttons*/


/*Home Page*/
body{
  background-color: #acacac;
}


@media screen and (min-width: 400px){
.subhead {
  color: $white;
  background-color: $dark-blue;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: .2px;
  line-height: 1.4em;
  display: block;
  position: relative;
}
.subhead::before{
  height: 20px;
  width: 50px;
  content: '';
  display:block;
  background: $lime-green;
  position: absolute;
  bottom: 17px;
  left: -30px;
}
}

@media screen and (min-width: 700px){
/*Pattern for sure*/
.subhead {
  color: $white;
  background-color: $dark-blue;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: .3px;
  line-height: 1.4em;
  display: block;
  position: relative;
}

.subhead::before{
  content: '';
  display:block;
  width: 65px;
  height: 30px;
  background: $lime-green;
  position: absolute;
  bottom: 17px;
  left: -30px;
  /*bottom: 25%;
  left: -10%;*/
}

.subhead-list{
  list-style-type: none;
}
body{
  margin: 0 auto;
}
}
