@mixin fade($num:1, $fade:1, $visible:2) {
   $a: 100 / (($fade + $visible) * $num);
   @keyframes fade {
    0%   { opacity: 0; }
    #{$a * $fade}%   { opacity: 1; }
    #{$a * ($fade + $visible)}%  { opacity: 1; }
    #{$a * ($fade + $visible + $fade)}%  { opacity: 0; }
    100% { opacity: 0; }
  }

  animation-name: fade; 
  animation-duration: (($fade + $visible) * $num) + s; 
  animation-iteration-count: infinite; 
  
  @for $i from 1 through $num {
    &:nth-child(#{$i}) {
      animation-delay: (#{($fade + $visible) * ($i - 1)}) + s;
    }
  }
}
.fadein {
	height: 300px;
	@media screen and (min-width: 800px) {
		height: 800px;
	}
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.fadein img {
  position:absolute; left:0; right:0; opacity:0;
  @include fade($num:3, $fade:4, $visible:5);
}