/*.statistics-container{
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  width: 80%;
  margin-top: 50px;
  background-color: $white;
*/

.statistics-box-flex-container{
  display: flex;
  flex-wrap: wrap;
}

.big-number{
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: $dark-blue
}

.statistics-border{
  width: 80%;
  height: 2.5px;
  background-color: $lime-green;
  border-style: none;
}

.statistics-blurb{
  font-family: 'Montserrat';
  text-align: center;
  font-size: .9em;
  color: $dark-blue;
  margin-left: 30px;
  margin-right: 30px;
}

.statistics-box{
  //margin-top: 25px;
  width: 100%;
}


@media screen and(min-width: 850px){
  .statistics-box{
    width: 32%;
  }

  .statistics-blurb{
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
  }
}
