.statistics-box-flex-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1.5em;
  @media screen and (min-width: 850px){
    width: 100%;
  }
}

.big-number{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: $dark-blue;
  @media screen and (min-width: 500px){
    font-size: 45px;
  }
  @media screen and (min-width: 850px){
    font-size: 80px;
  }
}

.statistics-border{
  width: 80%;
  height: 5px;
  background-color: $lime-green;
  border-style: none;
}

.statistics-blurb{
  font-family: 'Montserrat';
  text-align: center;
  font-size: .8em;
  color: $dark-blue;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 500;

}

.statistics-box{
  margin: 0 auto;
  margin-bottom: 1em;
  width: 30%;
}


@media screen and(min-width: 850px){
  .statistics-box{
    width: 32%;
  }

  .statistics-blurb{
    font-size: 1em;
    width: 70%;
    margin: 0 auto;
  }
}
