.fundraiser {
  @media screen and (min-width: 500px) {
    display: flex;
  }
}

.fundraiser__title {
  color: $dark-blue;
  margin-top: 0;
}

.fundraiser__image{
width: 100%;
display: block;
margin-top: 15px;
max-width:300px;
margin: 0;
  @media screen and (min-width: 500px) {
    margin-right: 3em;
  }
}
