body {
  font-family: $mont;
}

p {
  font-family: $mont;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
}

.intro-paragraph p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 400;
}
