body {
  font-family: $mont;
}

p {
  font-family: $mont;
  font-size: .9em;
  font-weight: 300;
  line-height: 1.5;
  @media screen and (min-width: 800px) {
    font-size: 1em;
  }
}

main ul, main ol {
  font-size: .9em;
  font-weight: 300;

  @media screen and (min-width: 800px) {
    font-size: 1em;
  }
}

p a, main li a {
  color: $dark-blue;
  font-weight: 500;
  transition: .3s color ease-in-out;
  &:hover, &:focus {
    color: lighten($dark-blue, 10%);
  }
}

main li {
  margin-bottom: 1em;
}

ul {
  font-weight: 300;
}

.intro-paragraph p {
  font-size: .95em;
  letter-spacing: -.35px;
  line-height: 1.5;
  font-weight: 300;
  max-width: 800px;
  @media screen and (min-width: 800px) {
    font-size: 1.05em;
  }
}

.video-blurb .intro-paragraph  p {
  margin-top: 1em;
}
