// Colors

$dark-blue: #1f3c72;
$light-blue: #8ad1cf;
$gray: #8d9da5;
$lime-green: #d0de44;
$mandarin: #eeab15;
$white: #ffffff;


// Typography
$mont: 'Montserrat', sans-serif;
$light: 300;
$bold: 600;
$extra: 700;
