.video-div-flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.video-container-home {
  margin-bottom: 1.5em;
}

.video-box{
  width: 100%;
  margin: 0;
  margin-top: 2em;
  max-width: 500px;
  @media screen and (min-width: 800px){
    margin-top: 1em;
    margin-left: auto;
  }
}

.video-box--nospace {
  margin-top: 0;
}

.video-box__container {
  width: 100%;
}

.video-blurb-paragragh{
  color: black;
  font-weight: $light;
  width: 100%;
  margin: 0;
}

.video-blurb {
  max-width: 500px;
}

.video-box__caption {
  font-size: .8em;
  color: black;
  margin-top:1em;
  text-align:center;
}

.vimeo-wrapper {
	display: block;
	position: relative;
  padding-bottom: 56.25%; /* 16:9 */
	cursor: pointer;
}

.vimeo-wrapper iframe, .vimeo-wrapper img {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vimeo-wrapper .play-icon {
	position: absolute;
	z-index: 1000;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url(/assets/img/icons/video-play-orange.svg) no-repeat center center;
  background-size: 80px 80px;
  opacity: .9;
  transition: .3s opacity ease-in-out;
  &:hover, &:focus {
    opacity: 1;
  }
}

.video-blurb p {
  margin-top: 0;
}


@media screen and (min-width: 800px){
  .video-box{
    width: 45%;
    justify-content: center;
  }

  .video-blurb{
    width:48%;
  }

}
