.video-container-home{
  width: 80%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin: 0 auto;
  padding-top: 25px;
  background-color: $white;
  margin-top: -50px;
  position: relative;


}
.video-div-flex-container{
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  margin: 0 auto;
}

.video-box{
  margin: 15px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  background:
  url("/assets/img/brands/example.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  height: 350px;
}

/*.placeholder-image{
  justify-content: center;
  width: 500px;
  height: 250px;
}*/

.video-blurb-paragragh{
  color: black;
  font-weight: $light;
  width: 100%;
  margin: 0;
}

.video-blurb, .video-box{
  padding: 15px;
}

@media screen and (min-width: 970px){
  .video-box{
    width: 56%;
    max-width: 800px;
    justify-content: center;
  }

  .video-blurb{
    width:40%;
  }
}
