.video-div-flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.video-container-home {
  margin-bottom: 1.5em;
}

.video-box{
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
}

.video-box__container {
  width: 100%;
}

.video-blurb-paragragh{
  color: black;
  font-weight: $light;
  width: 100%;
  margin: 0;
}

iframe{
  max-width: 100%;
  height: auto;
}

.video-box__caption {
  font-size: .8em;
  color: darken($gray,20%);
  margin-top:1em;
}

@media screen and (min-width: 970px){
  .video-box{
    width: 45%;
    justify-content: center;
  }

  .video-blurb{
    width:45%;
  }
}
