<body>
{{>organisms-header}}
{{>organisms-hero-image}}
<main>
  <div class = "page-header">
  <h1 class="first-word">Student Media</h1><h1 class="head-line">At Kent State</h2>
  </div>
  {{>organisms-video-box}}
  {{>organisms-brand-logo-grid}}
  {{>organisms-stats-chart}}
  {{>organisms-advertising-box}}
</main>
{{>organisms-footer}}
</body>
