<body>
{{>organisms-header}}
{{>organisms-hero-image}}
{{>organisms-mission-box}}
{{>organisms-brand-logo-grid}}
{{>organisms-video-box}}
{{>organisms-stats-chart}}
{{>organisms-events}}
{{>organisms-footer}}
</body>
