{{>organisms-header}}
{{>organisms-secondary-hero-image}}
<main>
  <div class = "page-header">
  <h1 class="head-line">Support Us</h2>
  </div>

  <h2 class = "intro-sentence-header">Donating to Kent State Student Media</h2>
  <p class = "intro-paragraph">Advertising with Student Media allows you to connect with your audience where they already are.
  Across our 10 media channels we have an audience size of over 30,000 people. We connect businesses to the community and
help increase their awareness in the community and among the university students. Do you want to increase your awarness and sale?
Kent State Media is the perfect advertising outlet for you.</p>
<div class = "button-wrapper">
<button class = "secondary-button">Support Student Media</button>
</div>
<img class = "support-image" src = "/assets/img/hero_img/people-cropped_960.jpg">


<h2 class = "subhead">Student Media Fund Drives</h2>

<p class = "intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div class = "button-wrapper">
<button class = "secondary-button" "support-button">Current Fund Drive</button>
</div>
</main>
{{>organisms-footer}}
