{{>organisms-header}}
<main>
<div class="hero-image">
<img class = "hero-image-home" src="/assets/img/hero_img/people-cropped_960.jpg"> <!--Change out picture URL-->
<div class="header-quote"><h1 class = "hero-image-caption">The Kent Stater</h1></div><!--Change image caption-->
</div>

<section class = "media-partner-about-container">
  <h2 class = "subhead">About</h2>
  <p class = "media-partner-about-blurb">The Kent Stater is the award-winning, student-run newspaper at Kent State University.
    Reaching more than 15,000 people per issue, the Stater keeps the community up-to-date with campus, local and national news,
    sports and features. The Stater publishes on Monday, Wednesday and Thursday and has a circulation of 6,750 per day.
    During the summer months, The Kent Stater runs special print issues and also runs the annual Orientation issue to
    welcome new and returning students.</p>

</section>
<section class = "media-partner-contact-container">
  <h2 class = "subhead">Student Leader Contact</h2>
  <figure class = "media-partner-contact">
    <img src = "/assets/img/global/square-stock-img.jpg" class = "contact-picture">
    <figcaption class = "media-partner-contact-caption">Jimmy Miller</figcaption>
    <figcaption class = "media-partner-contact-title">Editor in Chief</figcaption>
    <figcaption class = "media-partner-contact-email"><a class="email" href="mailto:jmill231@kent.edu">jmill231@kent.edu</a></figcaption>
  </figure>

</section>

<section class = "media-partner-social-media-container">
  <h2 class = "subhead">Social Media</h2>
  <div class = "social-media-flex-container">
    <div class = "social-media-icon"><img class="social-icon" src"/assets/img/icons/facebook.svg"></div>
    <div class = "social-media-icon"><img src"/assets/img/icons/twitter.svg"></div>
    <div class = "social-media-icon"><img src"/assets/img/icons/instagram.svg"></div>
  </div>
</section>

<section class = "media-partner-events-container">
  <h2 class = "subhead">Events</h2>
</section>
</main>
{{>organisms-footer}}
