{% extends "_layout" %}

{% block hero %}
	{% include '_includes/hero.html' %}
{% endblock %}

{% block content %}

<div class = "page-header">
<h1 class="head-line">{{entry.title}}</h1>
</div>

<section class = "section">
<h2 class = "intro-sentence-header">{{entry.tagline}}</h2>
<p class = "intro-paragraph">{{entry.body}}</p>
</section>
<section class = "section">
<h2 class = "subhead">Student Media Office</h2>
<div class="contact-about-group section">
	{% for entry in craft.entries.section('staff').order('lastName') %}
	{% if entry.employeeType.contains('officeStaff') %}
	<a href="#" class="leader">
  <div class="circle-image-container">
			{% for asset in entry.image %}
    <img src="{{asset.url('staffProfile')}}" alt=”{{asset.title}}” />
    	{% endfor %}
  </div>
  <div class="contact-info-section">
  <h4 class="contact-info-section-name">{{entry.firstName}} {{entry.lastName}}</h4>
  <h5 class="contact-title-info-section">{{entry.jobTitle}}</h5>
  <p class="contact-info-section-info">{{entry.phone}}</p>
  <p class="contact-info-section-info">{{entry.email}}</p>
  <div class="light-blue-line">
  </div>
</div>
<div class="contact-info-about-leader">
	<strong>About:</strong>
	{{entry.body}}
</div>
</a>
{% endif %}
{% endfor %}
</div>
</section>
<section class = "section">
<h2 class = "subhead">Student Leaders</h2>
<div class="student-leader-container section">
{% for entry in craft.entries.section('staff').order('lastName') %}
{% if entry.employeeType.contains('studentMediaLeader') %}
  <div class="student-leader">
    <h2 class="student-leader-contact">{{entry.firstName}} {{entry.lastName}}</h2>
    <h5 class="student-leader-title">{{entry.jobTitle}}</h5>
    <p class="student-leader-email">{{entry.email}}</p>
  </div>
{% endif %}
{% endfor %}
</div>
</section>

{% endblock %}
