{% extends "_layout" %}

{% block content %}
<h1 class = "hero-image-caption">{{entry.tagline}}</h1>
	{% for asset in entry.heroImage %}
		<img src="{{asset.url}}" alt="{{asset.title}}" />
	{% endfor %}
	<h1>{{entry.title}}</h1>
	<h2>Reach Us By Phone</h2>
	{{entry.phone}}
	<h2>Visit Us in Person</h2>
	{{entry.address}}

	<h1>Get in Touch With Our Leaders</h1>
		{% for entry in craft.entries.section('staff').find() %}
			{% if entry.employeeType.contains('director') %}
			{% for asset in entry.image %}
		<img src=”{{asset.url}}” alt=”{{asset.title}}”” />
	{% endfor %}
				<h2>{{entry.firstName}} {{entry.lastName}}</h2>
				{{entry.jobTitle}}
				{{entry.email}}
				{{entry.phone}}
				{{entry.body}}
			{% endif %}
		{% endfor %}


{% endblock %}
