<body>
{{>organisms-header}}
<main>
  {{>organisms-hero-image}}
  {{>organisms-video-box}}
  {{>organisms-brand-logo-grid}}
  {{>organisms-stats-chart}}
  {{>organisms-advertising-box}}
</main>
{{>organisms-footer}}
</body>
