<body>
{{>organisms-header}}
{{>organisms-hero-image}}

<main>
  {{>organisms-video-box}}
  {{>organisms-brand-logo-grid}}
  {{>organisms-stats-chart}}
  {{>organisms-advertising-box}}
</main>
{{>organisms-footer}}
</body>
