<body>
{{>organisms-header}}
{{>organisms-hero-image}}
<div class = "main-container">
  {{>organisms-video-box}}
  {{>organisms-brand-logo-grid}}
  {{>organisms-stats-chart}}
  {{>organisms-advertising-box}}
</div>
{{>organisms-footer}}
</body>
