<div class="secondary-hero-image">
<img class = "hero-image-home" src="/assets/img/hero_img/people-cropped_960.jpg" >
<div class="header-quote"><h1 class = "hero-image-caption">Kent State Student Media
   is made by students for students.</h1></div>
</div>
