{% extends "_layout" %}

{% block content %}

<div class = "page-header page-header--no-image">
  <h1 class="first-word">Advertise</h1><h1 class="head-line">With {{entry.title}}</h2>
</div>
<h2 class="subhead first-subhead">Display Ads</h2>
<section class="advertising-body-container">
<section class="advertising-column">
    <div>
        {% for block in entry.adUnit.limit(3) %}

            {% if block.type == "adUnits" %}
            <table class="advertising-matrix">
                <tr>
                    <th></th>
                    <th>size (w x h)</th>
                    <th>price</th>
                    <th>Campus/Non-Profit Price</th>
                </tr>
                    {% for row in block.adUnitr %}
                    <tr>
                        <td>{{row.name}}</td>
                        <td>{{row.price}}</td>
                        <td>{{row.size}}</td>
                    </tr>
                    {% endfor %}
            </table>
            <p>{{block.adDescription}}</p>
            </div>
            {% elseif block.type == "adBundle" %}
            <div>
                <h4 class="general-header orange-header">{{block.bundleName}}</h4>
                <ul class="advertising-content-list">
                    <li>{{ block.bundleDescription }}</li>
                </ul>
                <ul class="advertising-price-list">
                    <li class="bold-info">{{ block.bundlePrice }}</li>
                </ul>
            </div>
                {% endif %}
            {% endfor %}
           
</section>
            <section class="advertising-column">
                {% for block in entry.adUnit.offset(3) %}
                {% if block.type == "adBundle" %}
                <div>
                    <h4 class="general-header orange-header">{{block.bundleName}}</h4>
                     <ul class="advertising-content-list">
                        <li>{{ block.bundleDescription }}</li>
                    </ul>
                    <ul class="advertising-price-list">
                        <li class="bold-info">{{ block.bundlePrice }}</li>
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            </section>
           
        </table>
    </div>
</section>
</section>
<section class="advertising-bottom-section">
<button class="secondary-button">Visit {{entry.title}}</button>
<button class="secondary-button">DOWNLOAD BUTTON</button>
<ul class = "advertising-contact-list">
  <li>For any questions about advertising with Student Media, please contact:</li>
  <li>Jim Jones at (333)-333-3333, jjones@kent.edu</li>
  <li>OR</li>
  <li>Download our Media Kit PDF for more info, <a href="#">here</a></li>
</ul>
</section>
</section>
{% endblock %}
