{% extends "_layout" %}

{% block content %}

<div class = "page-header page-header--no-image">
	<h1 class="head-line">Advertise with {{entry.title}}</h1>
</div>
<section class="section">
{% for partner in craft.entries.section('partners').relatedTo(entry) %}
	<p class="intro-paragraph">{{ partner.shortDescription }}</p>
{% endfor %}
</section>
<section class="section">
        <section class="advertising-column">
					{% for block in entry.adUnit %}
							{% if block.type == "adUnits" %}
							<h2 class="subhead">{{block.adType}}</h2>
							<p>{{block.adDescription}}</p>
            		<div class="advertising-content">
                    <table class="advertising-matrix">
                        <thead>
													<tr>
														{% for row in block.adUnitr | slice(0, 1) %}
															{% if row.name | length %}
																<th>Type</th>
															{% endif %}
															{% if row.price | length %}
																{% if block.priceTitles | length %}
																	{% for row in block.priceTitles %}
																			<th>{{ row.priceName }}</th>
																	{% endfor %}
																{% else %}
																<th>Price</th>
																{% endif %}
															{% endif %}
															{% if row.altPrice | length %}
																{% if block.priceTitles | length %}
																	{% for row in block.priceTitles %}
																			<th>{{ row.alternativePriceName }}</th>
																	{% endfor %}
																{% else %}
																<th>Price</th>
																{% endif %}
															{% endif %}
															{% if row.size | length %}
																<th>Size</th>
															{% endif %}
															{% if row.description | length %}
																<th>Details</th>
															{% endif %}
														{% endfor %}
													</tr>
                        </thead>
												<tbody>
                            {% for row in block.adUnitr %}
                            <tr>
                                <td><strong>{{row.name}}</strong></td>
                                <td>{{row.price}}</td>
																<td>{{row.altPrice}}</td>
                                <td>{{row.size}}</td>
																<td>{{row.description}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
						{% for image in block.exampleImage %}
							{% if image %}
								<a class="secondary-button ad-button" href="{{ image.url }}" alt="{{image.title}}">View Example</a>
							{% endif %}
						{% endfor %}
            </div>
        {% endif %}
          {% endfor %}
    </section>
</section>

<section class="advertising-bottom-section">
{% for partner in craft.entries.section('partners').relatedTo(entry) %}

<a class="secondary-button" href="{{ partner.url }}">More About {{ partner.title }}</a>
<ul class = "advertising-contact-list">
  <li>For any questions about advertising with {{ partner.title }}, please contact:</li>
  <li>{{advertisingContact.email}}</li>
	<li>{{advertisingContact.phone}}</li>
  <li>OR</li>
  <li>Download our Media Kit PDF for more info, <a href="#">here (NEEDS ADDED)</a></li>
</ul>
{% endfor %}
</section>
{% endblock %}
