{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />


</head>

<body>
	<div id="container">
		<header id="header">
      {% for asset in header.logo %}
        <img src="{{asset.url}}" alt="{{asset.title}}"/>
      {% endfor %}
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
          <li><a href="{{ url('hi') }}" {% if craft.request.firstSegment == 'hi' %}class="active"{% endif %}>Hi</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
      {{footer.mailingAddress}}
			{{footer.phone}}
    </footer>
	</div>
  <link href="{{ siteUrl }}assets/css/style.css" type="text/css" rel="stylesheet" media="screen"/>
  {% if craft.config.devMode %}
  <!-- Live Reload - For local environment only -->
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}
</body>
</html>
