{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Page Description Goes Here">
</head>

<body>
		<header>
      <section class = "header-nav-container">
        <button id="nav-trigger" class="nav-trigger header-button"><img src = "/assets/img/icons/Menu-26.png"></button>
      </section>
      <section class = "header-logo-container">
        {% for asset in header.logo %}
          <img class = "header-logo" src="{{asset.url}}" alt="{{asset.title}}"/>
        {% endfor %}
      </section>
			<nav id="nav" class="out">
        {{ craft.amNav.getNav("mainMenu") }}
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
      {{footer.mailingAddress}}
			{{footer.phone}}
      {{footer.email}}
    </footer>
  <link href="{{ siteUrl }}assets/css/style.css" type="text/css" rel="stylesheet" media="screen"/>
  {% if craft.config.devMode %}
  <!-- Live Reload - For local environment only -->
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}
</body>
</html>
