{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

 {% extends "_layout" %}
 {% block hero %}
   <section class="hero-image fadein">
     {% for asset in entry.heroImage %}
       <img class="hero-image-home" src="{{asset.url('hero')}}" alt="{{asset.title}}" />
     {% endfor %}
   <div class="header-quote">
     <h1 class = "hero-image-caption">{{entry.tagline}}</h1>
   </div>
  </section>
 {% endblock %}

 {% block content %}
 <section class = "video-container-home">
   <h2 class="subhead">Our Mission</h2>
   <div class = "video-div-flex-container">
    <div class = "video-blurb">{{entry.body}}</div>
    <div class = "video-box">
      <iframe src="{{entry.video}}?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </section>


  <section class = "outside-div-container-brands">
    <h2 class="subhead">Media Partners</h2>
      <div class = "owl-carousel brand-logo-grid">
        {% set cols = 2 %}
        {% for entry in craft.entries.section('partners') %}
          {% if loop.index0 % cols == 0 %}
            <div class="media-partner-container">
          {% endif %}
          {% if entry.heroImage | length %}
            {% for asset in entry.heroImage %}
              <a href="{{entry.url}}" class="media-partner" style="background-image:url('{{asset.url}}');">
            {% endfor %}
          {% else %}
              <a href="{{entry.url}}" class="media-partner">
          {% endif %}
          {% for asset in entry.logo %}
          <img src="{{asset.url}}" alt="{{asset.title}}" class="brand-logo" />
          {% endfor %}
        </a>
        {% if (loop.index0 % cols == cols - 1 or loop.last) %}
          </div>
        {% endif %}
        {% endfor %}
      </div>
  </section>

      <section class = "statistics-container">
          <h2 class = "subhead">Our Statistics</h2>
      <div class = "statistics-box-flex-container">
            {% for entry in craft.entries.section('statistics') %}
            <div class = "statistics-box">
            <div class = "statistics-number">
            <h3 class = "big-number">{{ entry.title }}</h3>
          </div>
          <hr class = "statistics-border"/>
          <p class = "statistics-blurb">{{ entry.statistics }}</p>
        </div>

            {% endfor %}
      </section>


<section class = "events-container">
  <h2 class ="subhead">Advertise With Us</h2>
  <div class = "events-div-flex-container">
    {% for entry in craft.entries.section('events') %}
  	 <h3>{{ entry.title }}</h3>
     <p>{{entry.description}}</p>
  {% endfor %}
</div>
</section>



{% endblock %}
