{#
 # Homepage template
 # ---------------
 #}

 {% extends "_layout" %}
 {% block hero %}
   <section class="hero-image">
     <div class="home-carousel owl-carousel">
       {% for asset in entry.heroImage.limit(3).order('RAND()').find() %}
        <div class="hero-image-home">
          <picture>
        		<source srcset="{{ asset.url('hero') }}" media="(min-width: 800px)">
        		<img src="{{ asset.url('heroSmall') }}" alt="asset.title" />
        	</picture>
        </div>
       {% endfor %}
    </div>
     <div class="header-quote">
       <h1 class = "hero-image-caption">{{entry.tagline}}</h1>
     </div>
  </section>
 {% endblock %}
 {% block content %}
 <section class = "section video-container-home">
   <h2 class="intro-sentence-header">{{ entry.description }}</h2>
   <div class = "video-div-flex-container">
    <div class = "video-blurb">
      <div class="intro-paragraph">{{entry.body}}</div>
      {% for entry in entry.aboutCta %}
      	<a class="main-button" href="{{entry.url}}">{{ entry.title }}</a>
      {% endfor %}
    </div>
    <figure class = "video-box">
      <div class="video-box__container">
        <iframe src="{{entry.video}}?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <figcaption class="video-box__caption">
          {{entry.videoCaption}}
      </figcaption>
    </figure>
  </section>


  <section class = "section outside-div-container-brands">
    {% set entryNum = craft.entries.section('partners').featuredMediaPartner('1') | length %}
    {% set extraEntry = (entryNum/2) %}
    
    {# {% set nick = craft.entries.section('partners').featuredMediaParter('1') | batch(1) %}  returns 12 #}
    {% set pap = craft.entries.section('partners').featuredMediaPartner('1')%}
    {% set newww = pap[extraEntry] %}

    <h2 class="subhead">{{ entry.mediaPartnersHeader }}</h2>
      <div class = "owl-carousel brand-logo-grid">
        {% set cols = 2 %}
        {% for entry in craft.entries.section('partners').featuredMediaPartner('1') %}
          {% if loop.index0 % cols == 0 %}
            <div class="media-partner-container">
          {% endif %}

          {% if entry.heroImage | length %}

            {% for asset in entry.heroImage %}
              <a href="{{entry.url}}" class="media-partner" style="background-image:url('{{asset.url('mediaPartnerIcon')}}');">
            {% endfor %}

            {% for asset in entry.logo %}
              <img src="{{asset.url}}" alt="{{asset.title}}" class="brand-logo" />
            {% endfor %}

          {% endif %}
        </a>

        {% if (loop.last and entryNum % 2 != 0) %}
          <div class="media-partner-container">
             {# {% set entry = craft.entries.section('partners').featuredMediaPartner('extraEntry') %} #}

             {% for asset in newww.heroImage %}
              <a href="{{asset.url}}" class="media-partner" style="background-image:url('{{asset.url('mediaPartnerIcon')}}');">
              {% endfor %}
              {% for asset in newww.logo %}
              <img src="{{asset.url}}" alt="{{asset.title}}" class="brand-logo" />
            {% endfor %}
          </a>  
        </div>
        {% endif %}



        {% if (loop.index0 % cols == cols - 1 or loop.last) %}
          <!-- Helps visualize <h2>xasd</h2> !-->
          </div>

        {% endif %}
        {% endfor %}
      </div>

  </section>

      <section class = "section statistics-container">
      <h2 class ="subhead">{{entry.advertisingHeader}}</h2>
      {{entry.adBody}}
      <div class = "statistics-box-flex-container">
            {% for entry in craft.entries.section('statistics') %}
              <div class = "statistics-box">
                <div class = "statistics-number">
                  <h3 class = "big-number">{{ entry.title }}</h3>
                </div>
                <hr class = "statistics-border"/>
                <p class = "statistics-blurb">{{ entry.statistics }}</p>
            </div>
            {% endfor %}
            {% for entry in entry.advertingCta %}
            	<a class="main-button" href="{{entry.url}}">{{ entry.title }}</a>
            {% endfor %}
      </section>
{% endblock %}
