{% extends "_layout" %}

{% block hero %}
	{% include '_includes/hero.html' %}
{% endblock %}

{% block content %}
	<div class = "page-header">
	<h1 class="head-line">{{entry.title}}</h1></div>

	<div class ="advertising-content">
	<h2 class="intro-sentence-header">{{entry.tagline}}</h2>
	<p class ="intro-paragraph">{{entry.body}}</p></div>

	{% for entry in craft.entries.section('boardMembers').find() %}
	{% for asset in entry.files %}
		<h2 class = "subhead">Student Media Board Guidelines</h2>
		<div class="guidelines"> <a class="main-button guidelines-button" href="{{asset.url}}" alt="{{asset.title}}" />Student Media Guidelines PDF</a></div>
	{% endfor %}
	{% endfor %}

	<h2 class = "subhead">Voting Members</h2>
	<div class="voting-members">
    
	{% for entry in craft.entries.section('staff').order('postDate desc') %}
		{% if entry.employeeType.contains('voting') %}
			<div class="member">
			<h3 class="member-title">{{entry.firstName}} {{entry.lastName}}</h3>
			<p class="member-name">{{entry.jobTitle}}</p>
		</div>
		{% endif %}
	{% endfor %}
	</div>
	<h2 class = "subhead">Non-Voting Members</h2>
	 <div class="non-voting-members">
	{% for entry in craft.entries.section('staff').order('postDate desc') %}

		{% if entry.employeeType.contains('nonVoting') %}
			<p class="non-voting-member-name"><b>{{entry.firstName}} {{entry.lastName}}</b>, {{entry.jobTitle}}</p></div>
		{% endif %}
	{% endfor %}

	<h2 class = "subhead">Meeting Minutes</h2>
	<div class="meeting-minutes-container">
	{% for entry in craft.entries.section('meetingMinutes').find() %}

	<div class="meeting-box">
	<p class="meeting-date">Posted on {{ entry.postDate.format('F d, Y') }}</p>
	{% for asset in entry.files %}
	<a><img src="/assets/img/icons/pdf-icon.svg" alt="pdf icon" height="100" width="100"></a>
		<a class="meeting-pdf" href="{{asset.url}}" alt="{{asset.title}}" />{{entry.title}}</a></div>
	{% endfor %}
	{% endfor %}

{% endblock %}
