{% extends "_layout" %}

{% block content %}
<div class="secondary-hero-image">
	{% for asset in entry.heroImage %}
		<img class="secondary-image" src="{{asset.url}}" alt="{{asset.title}}" />
	{% endfor %}</div>
	<div class = "page-header">
	<h1 class="first-word">{{entry.title}}</h1></div>
	{% for entry in craft.entries.section('boardMembers').find() %}
	{% for asset in entry.files %}
		Student Media Board Guidelines <a href="{{asset.url}}" alt="{{asset.title}}" />Download PDF</a>
	{% endfor %}
	{% endfor %}

	{{entry.description}}
	<h2 class = "subhead">Voting Members</h2>
	{% for entry in craft.entries.section('staff').find() %}
		{% if entry.employeeType.contains('voting') %}
			<h3 class="member-title">{{entry.jobTitle}}</h3>
			<p class="member-name">{{entry.firstName}} {{entry.lastName}}</p>
		{% endif %}
	{% endfor %}

	<h2 class = "subhead">Non-Voting Members</h2>
	{% for entry in craft.entries.section('staff').find() %}

		{% if entry.employeeType.contains('nonVoting') %}
			<p class="non-voting-member-name">{{entry.title}}, <b>{{entry.jobTitle}}</b></p>
		{% endif %}
	{% endfor %}

	<h2 class = "subhead">Meeting Minutes</h2>
	<div class="meeting-minutes-container">
	{% for entry in craft.entries.section('meetingMinutes').find() %}
	<div class="meeting-box">
	<p class="meeting-date">Posted on {{ entry.postDate.format('F d, Y') }}</p>
	{% for asset in entry.files %}
		<a href="{{asset.url}}" alt="{{asset.title}}" />{{entry.title}}</a></div>
	{% endfor %}
	{% endfor %}

{% endblock %}
