{% extends "_layout" %}

{% block content %}
<div class="secondary-hero-image">
	{% for asset in entry.heroImage %}
		<img class="secondary-image" src="{{asset.url}}" alt="{{asset.title}}" />
	{% endfor %}</div>
	<div class = "page-header">
	<h1 class="first-word">{{entry.title}}</h1></div>
	{{entry.description}}
	<h2>Media Board - Voting Member</h2>
	{% for entry in craft.entries.section('staff').find() %}
		{% if entry.employeeType.contains('voting') %}
			<h3>{{entry.title}}</h3>
		{% endif %}
	{% endfor %}

	<h2>Media Board - Non-Voting Members</h2>
	{% for entry in craft.entries.section('staff').find() %}

		{% if entry.employeeType.contains('nonVoting') %}
			<h3>{{entry.title}}</h3>
		{% endif %}
	{% endfor %}

{% endblock %}
