{% extends "_layout" %}

{% block content %}
<h1 class = "hero-image-caption">{{entry.tagline}}</h1>
	{% for asset in entry.heroImage %}
		<img src="{{asset.url}}" alt="{{asset.title}}" />
	{% endfor %}
	<h1>{{entry.title}}</h1>
	{{entry.body}}
	<h2>News</h2>
	{% for entry in craft.entries.section('news').limit(3) %}
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			{{ entry.description }}
			{% for asset in entry.image %}
			<img src="{{asset.url}}" alt="{{asset.title}}" />
			{% endfor %}
	{% endfor %}
{% endblock %}
