{% extends "_layout" %}

{% block content %}
<div class="secondary-hero-image">
	{% for asset in entry.heroImage %}
		<img class = "secondary-image" src="{{asset.url}}" alt="{{asset.title}}" />
	{% endfor %}</div>

	 <div class = "page-header">
	<h1 class="first-word">{{entry.title}}</h1></div>
	{{entry.body}}
	<h2 class = "intro-sentence-header">News</h2>
	{% for entry in craft.entries.section('news').limit(3) %}
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			{{ entry.description }}
			{% for asset in entry.image %}
			<img src="{{asset.url}}" alt="{{asset.title}}" />
			{% endfor %}
	{% endfor %}
{% endblock %}
