<section class = "scroll-container">
<h2 class ="subhead calender-subhead">Calender & Events</h2>

<section class="calender-container calender-main">
  <div class ="container-scroll-box">

  <div class="event-container">
    <div class="date-box">
      <div class="date">
        <h4 class="date-style">18</h4>
      </div>

      <div class="month">
        <h4 class="month-style">OCT</h4>
      </div>
    </div>

    <div class="event">
      <h3 class="event-title">News Paper Release</h3>
      <p class="event-words">The Kent Stater will release it's special edition Homecoming issue. Look out for it

      </p>
    </div>
  </div>

  <div class="event-container">
      <div class="date-box">
        <div class="date">
          <h4 class="date-style">04</h4>
        </div>
        <div class="month">
          <h4 class="month-style">NOV</h4>
        </div>
      </div>
      <div class="event">
        <h3 class="event-title">Applications Due</h3>
        <p class="event-words">Now is your chance to work for the Kent Stater! Fill out an application and submit it by Novemeber 4th to be considered. Calling all writers, photographers, and designers.
        </p>
      </div>
  </div>
  <div class="event-container">
      <div class="date-box">
        <div class="date">
          <h4 class="date-style">10</h4>
        </div>
        <div class="month">
          <h4 class="month-style">NOV</h4>
        </div>
      </div>
      <div class="event">
        <h3 class="event-title">Release Date</h3>
        <p class="event-words">Release date for latest issue of The Kent Stater. Pick up a copy around campus!
        </p>
      </div>
  </div>
</div>
</section>
</section>
